/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


$accordion-panel-title-color:$black-color !default;
$accordion-panel-primary-color: $primary-color3!default;
$accordion-panel-grey: $grey-200 !default;
$accordion-panel-content-minheight: 720px !default;
$accordion-panel-info-sec-width: 60% !default;
$accordion-panel-md-font-size: 14px !default;
$accordion-panel-lg-font-size: 36px !default;
$accordion-panel-image-section-mt: 50px !default;
$accordion-panel-image-section-ml: 50px !default;
$accordion-panel-image-section-mr: 50px !default;
$accordion-panel-image-section-width: 40% !default;
$accordion-panel-switch-image-section-ml-ar: 50px !default;
$accordion-panel-transition-time: 0.3s !default;
$accordion-panel-border-1: 1px !default;
$accordion-panel-border-radius-4: 4px !default;
$accordion-panel-button-fontweight: 500 !default;
$accordion-panel-card-header-btn-left: -15px !default;
$accordion-panel-card-header-btn-right: -15px !default;
$accordion-panel-card-body-padding: 0rem 2.25rem 2.25rem 1.25rem !default;
$accordion-panel-card-body-padding-ar: 0rem 1.25rem 2.25rem 2.25rem !default;
$accordion-panel-card-body-line-height: 24px !default;
$accordion-panel-card-body-redmore-fontsize: 11px !default;
$accordion-panel-card-body-redmore-padding: 0 9px !default;
$accordion-panel-card-body-redmore-bottom: -6px !default;
$accordion-panel-card-body-redmore-switch-right: 20px !default;
$accordion-panel-card-body-redmore-hover-mr: 5px !default;
$accordion-panel-card-body-redmore-span-mr: 3px !default;
$accordion-panel-card-multi-images-width: 40% !default;
$accordion-panel-card-multi-imag-wrap-height: 190px !default;
$accordion-panel-card-multi-imag-wrap-m: 5px 0 !default;
$accordion-panel-card-full-image-img: 60% !default;
$accordion-panel-card-full-image-pl: 15px !default;
$accordion-panel-card-full-image-pr: 15px !default;
$accordion-panel-card-full-img-height: 85% !default;


