/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


$ex-timeline-horizontal-year-left:50% !default;
$ex-timeline-horizontal-year-bottom:-40px !default;
$ex-timeline-horizontal-year-top:-37px !default;
$ex-timeline-horizontal-year-fontsize:18px !default;
$ex-timeline-horizontal-year-weight:300px !default;
$ex-timeline-horizontal-circle-icon-bordersize:1px !default;
$ex-timeline-horizontal-circle-icon-width:120px !default;
$ex-timeline-horizontal-circle-icon-height:120px !default;
$ex-timeline-horizontal-circle-icon-width2:107px !default;
$ex-timeline-horizontal-circle-icon-height2:107px !default;
$ex-timeline-horizontal-circle-icon-left:50% !default;
$ex-timeline-horizontal-circle-icon-top:50% !default;
$ex-timeline-horizontal-circle-icon-borderradious:100px !default;
$ex-timeline-horizontal-translate-50:-50% !default;
$ex-timeline-horizontal-circle-icon-img-width: 50px !default;
$ex-timeline-horizontal-circle-icon-img-height: 50px !default;
$ex-timeline-horizontal-circle-vertical-width: 2px !default;
$ex-timeline-horizontal-circle-vertical-height: 64px !default;
$ex-timeline-horizontal-circle-vertical-border: 2px !default;
$ex-timeline-horizontal-circle-vertical-border-color: $grey-200 !default;
$ex-timeline-horizontal-circle-text-width: 195px !default;
$ex-timeline-horizontal-circle-text-luneheight: 23px !default;
$ex-timeline-horizontal-circle-top-text-top: 26px !default;
$ex-timeline-horizontal-circle-top-text-left: 210px !default;
$ex-timeline-horizontal-circle-bottom-text-bottom: 26px !default;
$ex-timeline-horizontal-circle-bottom-text-right: 210px !default;
$ex-timeline-horizontal-circle-timeline-item-left:39px !default;
$ex-timeline-horizontal-circle-timeline-item-bottom:-110px !default;

//md screen
$ex-timeline-horizontal-year-top-md: -23px !default;
$ex-timeline-horizontal-year-left-md: 38px !default;
$ex-timeline-horizontal-timeline__item-md-mb: 30px !default;
$ex-timeline-horizontal-circle-icon-md-width: 75px !default;
$ex-timeline-horizontal-circle-icon-md-height: 75px !default;
$ex-timeline-horizontal-circle-icon-md-before-height: 65px !default;
$ex-timeline-horizontal-circle-icon-md-before-width: 65px !default;
$ex-timeline-horizontal-circle-icon-md-img-width: 35px !default;
$ex-timeline-horizontal-circle-icon-md-img-height: 35px !default;
$ex-timeline-horizontal-circle-text-md-top: 13px !default;
$ex-timeline-horizontal-circle-text-md-left: 90px !default;
$ex-timeline-horizontal-circle-text-md-width: 215px !default;