<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Don't remove Section -->
    <link rel="stylesheet" href="../styles/ext-components-styles-min.css" />
    <!-- Your css files goes here -->
    <link rel="stylesheet" href="../styles/components-ADCCI.css" />
    <!-- Your css files goes here -->

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <title></title>
  </head>
  <body>
    <!-- Image Highlight -->
    <div
      class="ex-image-highlights ex-image-highlights--overlay"
      rv="VariantField"
    >
      <div
        class="ex-image-highlights__slides slick-initialized slick-slider"
        data-slick="true"
        data-loader=""
        data-fade="true"
        data-infinite="true"
        data-autoplay="true"
        data-autoplayspeed="17000"
        data-enablearrows="true"
        data-prev-arrow="highlights-prev-arrow"
        data-next-arrow="highlights-next-arrow"
        rv="VariantField"
      >
        <div
          class="slide d-flex"
          style="background-image: url(../images/ad2.jpg)"
          rv="VariantField"
        >
          <video
            muted=""
            playsinline=""
            autoplay=""
            style="
              object-fit: cover;
              background-size: cover;
              width: 100%;
              height: 298.754%;
              visibility: inherit;
              opacity: 1;
              display: block;
              position: absolute;
              left: 0px;
              top: -99.3772%;
            "
            class="resizelistener"
            preload="preload"
            loop=""
          >
            <source src="../images/adcci7.mp4" type="video/mp4" />
          </video>
          <div class="container" rv="VariantField">
            <div class="row" rv="VariantField">
              <div class="col-lg-7" rv="VariantField">
                <div
                  class="slide__content d-flex justify-content-between align-items-center"
                  rv="VariantField"
                >
                  <div class="slide__content__title" rv="VariantField">
                    <h1
                      class="slide-title animated fadeInUp mb-4"
                      rv="VariantField"
                    >
                      Ensuring that Abu Dhabi remains a safe and secure society
                      1
                    </h1>
                    <p class="animated fadeInUp delay-025s" rv="VariantField">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                    <div
                      class="position-relative my-4 animated fadeInUp button d-inline-flex align-items-center justify-content-center"
                    >
                      <a
                        class="stretched-link mx-1"
                        href="javascript:void(0);"
                        rv="VariantField"
                        >Start Tour</a
                      >
                    </div>
                    <div
                      class="position-relative my-4 animated fadeInUp button d-inline-flex align-items-center justify-content-center"
                    >
                      <a
                        class="stretched-link mx-1"
                        href="javascript:void(0);"
                        rv="VariantField"
                        >View More</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-5 d-none d-lg-block d-xl-block"
                rv="VariantField"
              ></div>
            </div>
          </div>
        </div>
        <div
          class="slide d-flex"
          style="background-image: url(../images/ad5.jpg)"
          rv="VariantField"
        >
          <img src="../images/ad5.jpg" rv="Responsive Image" alt="ad5" />
          <div class="container" rv="VariantField">
            <div class="row" rv="VariantField">
              <div class="col-lg-7" rv="VariantField">
                <div
                  class="slide__content d-flex justify-content-between align-items-center"
                  rv="VariantField"
                >
                  <div class="slide__content__title" rv="VariantField">
                    <h1
                      class="slide-title animated fadeInUp mb-4"
                      rv="VariantField"
                    >
                      Ensuring that Abu Dhabi remains a safe and secure society
                      2
                    </h1>
                    <p class="animated fadeInUp delay-025s" rv="VariantField">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                    <div
                      class="position-relative my-4 animated fadeInUp button d-inline-flex align-items-center justify-content-center"
                    >
                      <a
                        class="stretched-link mx-1"
                        href="javascript:void(0);"
                        rv="VariantField"
                        >READ MORE</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-5 d-none d-lg-block d-xl-block"
                rv="VariantField"
              ></div>
            </div>
          </div>
        </div>
        <div
          class="slide d-flex"
          style="background-image: url(../images/ad10.jpg)"
          rv="VariantField"
        >
          <img src="../images/ad10.jpg" rv="Responsive Image" alt="ad10" />
          <div class="container" rv="VariantField">
            <div class="row" rv="VariantField">
              <div class="col-lg-7" rv="VariantField">
                <div
                  class="slide__content d-flex justify-content-between align-items-center"
                  rv="VariantField"
                >
                  <div class="slide__content__title" rv="VariantField">
                    <h1
                      class="slide-title animated fadeInUp mb-4"
                      rv="VariantField"
                    >
                      Ensuring that Abu Dhabi remains a safe and secure society
                      3
                    </h1>
                    <p class="animated fadeInUp delay-025s" rv="VariantField">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                    <div
                      class="position-relative my-4 animated fadeInUp button d-inline-flex align-items-center justify-content-center"
                    >
                      <a
                        class="stretched-link mx-1"
                        href="javascript:void(0);"
                        rv="VariantField"
                        >READ MORE</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-5 d-none d-lg-block d-xl-block"
                rv="VariantField"
              ></div>
            </div>
          </div>
        </div>
        <div
          class="slide d-flex"
          style="background-image: url(../images/ad9.jpg)"
          rv="VariantField"
        >
          <img src="../images/ad9.jpg" rv="Responsive Image" alt="ad9" />
          <div class="container" rv="VariantField">
            <div class="row" rv="VariantField">
              <div class="col-lg-7" rv="VariantField">
                <div
                  class="slide__content d-flex justify-content-between align-items-center"
                  rv="VariantField"
                >
                  <div class="slide__content__title" rv="VariantField">
                    <h1
                      class="slide-title animated fadeInUp mb-4"
                      rv="VariantField"
                    >
                      Ensuring that Abu Dhabi remains a safe and secure society
                      4
                    </h1>
                    <p class="animated fadeInUp delay-025s" rv="VariantField">
                      It is a long established fact that a reader will be
                      distracted by the readable content of a page when looking
                      at its layout.
                    </p>
                    <div
                      class="position-relative my-4 animated fadeInUp button d-inline-flex align-items-center justify-content-center"
                    >
                      <a
                        class="stretched-link mx-1"
                        href="javascript:void(0);"
                        rv="VariantField"
                        >READ MORE</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-5 d-none d-lg-block d-xl-block"
                rv="VariantField"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <div class="ex-image-highlights__navigation" rv="VariantField">
        <div class="navigation_arrow_wrapper" rv="VariantField">
          <div
            class="arrows d-inline-flex"
            rv="VariantField"
            style="opacity: 1"
          >
            <div
              class="icon highlights-prev-arrow mx-1 d-inline-flex justify-content-center align-items-center"
            >
              <div class="hover_image d-none"><img src="" alt="" /></div>
            </div>
            <div
              class="icon highlights-next-arrow mx-1 d-inline-flex justify-content-center align-items-center"
            >
              <div class="hover_image d-none"><img src="" alt="" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end Image Highlight -->
    <!-- Info Banner Component -->

    <script src="../scripts/extensions/ex-main-theme/lib/slick.source.code.js"></script>
    <script src="../scripts/extensions/ex-main-theme/lib/slick-min.js"></script>
    <script src="../scripts/extensions/ex-main-theme/scrollbar-init.js"></script>
    <script src="../scripts/extensions/ex-main-theme/slick-init.js"></script>
    <!-- ex-main-theme : uncomment needed files -->

    <!-- Your js files goes here -->
    <script src="../scripts/extensions/ex-main-theme/components-image-highlights.js"></script>
    <!-- Your js files goes here -->
    <!-- Your js files goes here -->
  </body>
</html>
