<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Don't remove Section -->

    <link rel="stylesheet" href="../styles/ext-components-styles-min.css" />

    <!-- Your css files goes here -->
    <link rel="stylesheet" href="../styles/components-ADCCI.css" />

    <!-- Your css files goes here -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!--  Pillars Component -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Your code goes here -->

          <div class="component FeaturedContentList">
            <div class="component-content">
              <div
                class="section section--white py-9 section--new-slider-card section--right section--top section--repeat-y section--bg-contain"
                style="background-image: url()"
              >
                <div class="container carousel-navigation">
                  <div class="row">
                    <div
                      class="col-12 d-flex align-items-center border_HR p-0 text-center flex-column title-block mb-6"
                    >
                      <h3>Our Pillars</h3>
                    </div>
                  </div>
                  <div
                    data-enablearrows="true"
                    data-next-arrow="services-next"
                    data-rows-md="1"
                    data-slides-sm="1"
                    data-centerpadding-sm="50px"
                    class="row js-slick-mobile-disabled"
                    data-slidestoshow="3"
                    data-rowstoshow="1"
                    data-centerpadding-md="220px"
                    data-rows-sm="1"
                    data-rows-lg="1"
                    data-slides-md="1"
                    data-slides-lg="3"
                    data-slick-editor="false"
                    data-slides-xs="1"
                    data-slick="true"
                    data-prev-arrow="services-prev"
                    data-autoplay="true"
                  >
                    <div
                      class="ex-icon-card new-slider-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start rounded-5"
                    >
                      <a
                        title="Service 1"
                        href="/adcda/Data/Services/Service-1"
                      >
                        <div
                          class="ex-icon-card__wrapper w-100 justify-content-center align-items-start"
                        >
                          <div
                            class="ex-icon-card__wrapper__content d-flex align-items-start justify-content-lg-center"
                          >
                            <div class="card-icon">
                              <img src="../images/policy.svg" alt="policy" />
                            </div>
                          </div>
                          <div
                            class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column align-items-center justify-content-center flex-grow-1"
                          >
                            <div
                              class="d-flex-block flex-column flex-grow-1 mx-2"
                            >
                              <div
                                class="card-title pt-4 w-100 font-weight-boldest field-title d-flex justify-content-lg-center"
                              >
                                Policy Advocator
                              </div>
                              <p
                                class="label pt-4 text-justify field-shortdescription"
                              >
                                The Chamber serves as the conduit between the
                                private sector and government, to influence its
                                policies
                              </p>
                            </div>
                          </div>
                          <div class="text-indent overflow-hidden"></div></div
                      ></a>
                      <div class="field-link">
                        <a
                          data-variantitemid="{8C3EF19A-B847-4D4F-ACD8-A9D02311C81F}"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="text-indent overflow-hidden d-block"
                          href="https://www.moi.gov.ae/ar/default.aspx"
                          data-variantfieldname="Link"
                          >View Details</a
                        >
                      </div>
                    </div>

                    <div
                      class="ex-icon-card new-slider-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start rounded-5"
                    >
                      <a
                        title="Service 7"
                        href="/adcda/Data/Services/Service-7"
                      >
                        <div
                          class="ex-icon-card__wrapper w-100 justify-content-center align-items-start"
                        >
                          <div
                            class="ex-icon-card__wrapper__content d-flex align-items-start justify-content-lg-center"
                          >
                            <div class="card-icon">
                              <img
                                src="../images/service_provider.svg"
                                alt="service_provider"
                              />
                            </div>
                          </div>
                          <div
                            class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column align-items-center justify-content-center flex-grow-1"
                          >
                            <div
                              class="d-flex-block flex-column flex-grow-1 mx-2"
                            >
                              <div
                                class="card-title pt-4 w-100 font-weight-boldest field-title d-flex justify-content-lg-center"
                              >
                                Service Provider
                              </div>
                              <p
                                class="text-justify label pt-4 field-shortdescription"
                              >
                                Abu Dhabi Chamber ensures keeping up with the
                                latest digital trends, to provide services that
                                meet its members aspirations
                              </p>
                            </div>
                          </div>
                          <div class="text-indent overflow-hidden"></div></div
                      ></a>
                      <div class="field-link">
                        <a
                          data-variantitemid="{F8C6172A-9325-4D8D-A58D-95BB40F00E9A}"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="text-indent overflow-hidden d-block"
                          href="https://www.moi.gov.ae/en/eservices/login.aspx"
                          data-variantfieldname="Link"
                          >View Details</a
                        >
                      </div>
                    </div>

                    <div
                      class="ex-icon-card new-slider-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start rounded-5"
                    >
                      <a
                        title="Service 7"
                        href="/adcda/Data/Services/Service-7"
                      >
                        <div
                          class="ex-icon-card__wrapper w-100 justify-content-center align-items-start"
                        >
                          <div
                            class="ex-icon-card__wrapper__content d-flex align-items-start justify-content-lg-center"
                          >
                            <div class="card-icon">
                              <img
                                src="../images/networker.svg"
                                alt="networker"
                              />
                            </div>
                          </div>
                          <div
                            class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column align-items-center justify-content-center flex-grow-1"
                          >
                            <div
                              class="d-flex-block flex-column flex-grow-1 mx-2"
                            >
                              <div
                                class="card-title pt-4 w-100 font-weight-boldest field-title d-flex justify-content-lg-center"
                              >
                                Networker
                              </div>
                              <p
                                class="text-justify label pt-4 field-shortdescription"
                              >
                                Abu Dhabi Chamber plays a major role in
                                strengthening trade relations on a local,
                                regional and international levels
                              </p>
                            </div>
                          </div>
                          <div class="text-indent overflow-hidden"></div></div
                      ></a>
                      <div class="field-link">
                        <a
                          data-variantitemid="{F8C6172A-9325-4D8D-A58D-95BB40F00E9A}"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="text-indent overflow-hidden d-block"
                          href="https://www.moi.gov.ae/en/eservices/login.aspx"
                          data-variantfieldname="Link"
                          >View Details</a
                        >
                      </div>
                    </div>

                    <div
                      class="ex-icon-card new-slider-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start rounded-5"
                    >
                      <a
                        title="Service 7"
                        href="/adcda/Data/Services/Service-7"
                      >
                        <div
                          class="ex-icon-card__wrapper w-100 justify-content-center align-items-start"
                        >
                          <div
                            class="ex-icon-card__wrapper__content d-flex align-items-start justify-content-lg-center"
                          >
                            <div class="card-icon">
                              <img
                                src="../images/educator.svg"
                                alt="educator"
                              />
                            </div>
                          </div>
                          <div
                            class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column align-items-center justify-content-center flex-grow-1"
                          >
                            <div
                              class="d-flex-block flex-column flex-grow-1 mx-2"
                            >
                              <div
                                class="card-title pt-4 w-100 font-weight-boldest field-title d-flex justify-content-lg-center"
                              >
                                Educator & Trainer
                              </div>
                              <p
                                class="text-justify label pt-4 field-shortdescription"
                              >
                                The Chamber ensures that the business community
                                is thoroughly informed about all important
                                updates and developments
                              </p>
                            </div>
                          </div>
                          <div class="text-indent overflow-hidden"></div></div
                      ></a>
                      <div class="field-link">
                        <a
                          data-variantitemid="{F8C6172A-9325-4D8D-A58D-95BB40F00E9A}"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="text-indent overflow-hidden d-block"
                          href="https://www.moi.gov.ae/en/eservices/login.aspx"
                          data-variantfieldname="Link"
                          >View Details</a
                        >
                      </div>
                    </div>
                    <div
                      class="ex-icon-card new-slider-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start rounded-5"
                    >
                      <a
                        title="Service 7"
                        href="/adcda/Data/Services/Service-7"
                      >
                        <div
                          class="ex-icon-card__wrapper w-100 justify-content-center align-items-start"
                        >
                          <div
                            class="ex-icon-card__wrapper__content d-flex align-items-start justify-content-lg-center"
                          >
                            <div class="card-icon">
                              <img
                                src="../images/investment.svg"
                                alt="investment"
                              />
                            </div>
                          </div>
                          <div
                            class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column align-items-center justify-content-center flex-grow-1"
                          >
                            <div
                              class="d-flex-block flex-column flex-grow-1 mx-2"
                            >
                              <div
                                class="card-title pt-4 w-100 font-weight-boldest field-title d-flex justify-content-lg-center"
                              >
                                Investment Catalyst
                              </div>
                              <p
                                class="text-justify label pt-4 field-shortdescription"
                              >
                                The Abu Dhabi Chamber plays a pivotal role in
                                boosting investment and trade relations, and
                                attracting FDIs
                              </p>
                            </div>
                          </div>
                          <div class="text-indent overflow-hidden"></div></div
                      ></a>
                      <div class="field-link">
                        <a
                          data-variantitemid="{F8C6172A-9325-4D8D-A58D-95BB40F00E9A}"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="text-indent overflow-hidden d-block"
                          href="https://www.moi.gov.ae/en/eservices/login.aspx"
                          data-variantfieldname="Link"
                          >View Details</a
                        >
                      </div>
                    </div>
                    <div
                      class="ex-icon-card new-slider-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start rounded-5"
                    >
                      <a
                        title="Service 7"
                        href="/adcda/Data/Services/Service-7"
                      >
                        <div
                          class="ex-icon-card__wrapper w-100 justify-content-center align-items-start"
                        >
                          <div
                            class="ex-icon-card__wrapper__content d-flex align-items-start justify-content-lg-center"
                          >
                            <div class="card-icon">
                              <img
                                src="../images/investment.svg"
                                alt="investment"
                              />
                            </div>
                          </div>
                          <div
                            class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column align-items-center justify-content-center flex-grow-1"
                          >
                            <div
                              class="d-flex-block flex-column flex-grow-1 mx-2"
                            >
                              <div
                                class="card-title pt-4 w-100 font-weight-boldest field-title d-flex justify-content-lg-center"
                              >
                                Policy Advocator
                              </div>
                              <p
                                class="text-justify label pt-4 field-shortdescription"
                              >
                                The Abu Dhabi Chamber plays a pivotal role in
                                boosting investment and trade relations, and
                                attracting FDIs
                              </p>
                            </div>
                          </div>
                          <div class="text-indent overflow-hidden"></div></div
                      ></a>
                      <div class="field-link">
                        <a
                          data-variantitemid="{F8C6172A-9325-4D8D-A58D-95BB40F00E9A}"
                          target="_blank"
                          rel="noopener noreferrer"
                          class="text-indent overflow-hidden d-block"
                          href="https://www.moi.gov.ae/en/eservices/login.aspx"
                          data-variantfieldname="Link"
                          >View Details</a
                        >
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div
                        class="d-flex align-items-center justify-content-start"
                      >
                        <div class="no-wrap d-lg-flex d-md-none d-sm-none">
                          <div
                            class="carousel-navigation__prev services-prev slick-arrow d-inline-flex align-items-center justify-content-center cursor-pointer"
                            aria-label="prev"
                          ></div>
                          <div
                            class="carousel-navigation__next services-next d-inline-flex align-items-center justify-content-center cursor-pointer"
                            aria-label="Next"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Pillars Component -->

    <!-- Three column container component -->
    <section class="section my-7">
      <div class="container three-col-comp">
        <div class="row">
          <div
            class="col-12 d-flex align-items-center text-center flex-column title-block mb-8"
          >
            <h3>Supporting the business</h3>
          </div>
          <div class="col-6 col-lg-4">
            <div
              class="ex-icon-card ex-icon-card--border-less px-0 mb-3 d-flex justify-content-start align-items-start"
            >
              <div class="ex-icon-card__wrapper w-100 d-flex">
                <div
                  class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-start"
                >
                  <div
                    class="card-img d-flex align-items-center justify-content-center"
                  >
                    <img src="../images/icons/icon3.png" alt="Logo" />
                  </div>
                </div>
                <div
                  class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-center px-2"
                >
                  <div
                    class="card-title w-100 font-weight-bold truncate truncate-2 pb-2"
                  >
                    Item 1
                  </div>
                  <p class="card-description">
                    Lorem ipsum, or lipsum as it is sometimes known, is dummy
                    text used in laying out print, graphic or web designs. The
                    passage is attributed to an unknown typesetter in the 15th
                    century.
                  </p>
                  <div
                    class="position-relative py-2 button--reset-height button--secondary fadeInUp button d-inline-flex align-items-center justify-content-center my-5"
                  >
                    <a
                      class="stretched-link mx-1"
                      href="javascript:void(0);"
                      rv="VariantField"
                      tabindex="0"
                      >View More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4">
            <div
              class="ex-icon-card ex-icon-card--border-less px-0 mb-3 d-flex justify-content-start align-items-start"
            >
              <div class="ex-icon-card__wrapper w-100 d-flex">
                <div
                  class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-start"
                >
                  <div
                    class="card-img d-flex align-items-center justify-content-center"
                  >
                    <img src="../images/icons/icon2.png" alt="Logo" />
                  </div>
                </div>
                <div
                  class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-center px-2"
                >
                  <div
                    class="card-title w-100 font-weight-bold truncate truncate-2 pb-2"
                  >
                    Item 2
                  </div>
                  <p class="card-description">
                    Lorem ipsum, or lipsum as it is sometimes known, is dummy
                    text used in laying out print, graphic or web designs. The
                    passage is attributed to an unknown typesetter in the 15th
                    century.
                  </p>
                  <div
                    class="position-relative py-2 button--reset-height button--secondary fadeInUp button d-inline-flex align-items-center justify-content-center my-5"
                  >
                    <a
                      class="stretched-link mx-1"
                      href="javascript:void(0);"
                      rv="VariantField"
                      tabindex="0"
                      >View More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-4">
            <div
              class="ex-icon-card ex-icon-card--border-less px-0 mb-3 d-flex justify-content-start align-items-start"
            >
              <div class="ex-icon-card__wrapper w-100 d-flex">
                <div
                  class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-start"
                >
                  <div
                    class="card-img d-flex align-items-center justify-content-center"
                  >
                    <img src="../images/icons/icon1.png" alt="Logo" />
                  </div>
                </div>
                <div
                  class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-center px-2"
                >
                  <div
                    class="card-title w-100 font-weight-bold truncate truncate-2 pb-2"
                  >
                    Item 3
                  </div>
                  <p class="card-description">
                    Lorem ipsum, or lipsum as it is sometimes known, is dummy
                    text used in laying out print, graphic or web designs. The
                    passage is attributed to an unknown typesetter in the 15th
                    century.
                  </p>
                  <div
                    class="position-relative py-2 button--reset-height button--secondary fadeInUp button d-inline-flex align-items-center justify-content-center my-5"
                  >
                    <a
                      class="stretched-link mx-1"
                      href="javascript:void(0);"
                      rv="VariantField"
                      tabindex="0"
                      >View More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End  Three column container component -->

    <!-- Banner component -->
    <section class="ex-banner py-7">
      <div class="ex-banner__content">
        <div class="row">
          <div class="col-lg-4">
            <div class="img-wraper">
              <img
                src="../images/pic-left2.png"
                class="w-auto h-auto"
                alt="banner-img"
              />
            </div>
          </div>
          <div class="col-lg-8">
            <div class="data pt-3 pt-lg-0">
              <h2 class="data__title mb-4">Lorem Ipsum</h2>
              <p style="line-height: 200%; font-size: 1.2rem">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </div>
            <div class="divider divider-sm"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- end Banner Component -->

    <script src="../scripts/ext-components-scripts-min.js"></script>
    <script src="../scripts/components-ADCCI.js"></script>
    <!-- Your js files goes here -->

    <!-- Your js files goes here -->
  </body>
</html>
