/***************************************************************************************************
Extension Name: ex-master-card 
Extension Version:  
File: base file
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-master-card 
File: All Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: All Shared Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: Shared Mixins
Owner:  
***************************************************************************************************/
/***************************************************************************************************
File: Variables
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-master-card 
File: Overrides 
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: ADGE Default Palette
Owner:  
***************************************************************************************************/
/* Primary */
/* Secondary */
/* Inverted */
/* Teritary */
/* highlight */
/* Label */
/* Links */
/* Separators colors */
/* Section title */
/***************************************************************************************************
Extension Name: ex-master-card 
File: Variables
Author: TAMM
***************************************************************************************************/
.ex-master-card {
  border: 2px solid #D6D6D6;
}

.ex-master-card > .component-content {
  width: 100%;
  height: 100%;
}

.ex-master-card__wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ex-master-card__link {
  display: none;
}

.ex-master-card__icon img {
  max-width: 35px;
  min-width: 35px;
}

.ex-master-card__title + .ex-master-card__description {
  margin-top: 15px;
}

.ex-master-card__details > div {
  margin-top: 20px;
}

.ex-master-card__meta + .ex-master-card__details > div:first-child {
  margin-top: 0;
}

.ex-master-card__image .sitecore-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ex-master-card__image .sitecore-image img {
  opacity: 0;
  min-width: 260px;
}

.on-page-editor .ex-master-card__image .sitecore-image img {
  opacity: 1;
}

.ex-master-card__image-icon {
  display: none;
}

.ex-master-card__image-icon img {
  min-width: 35px;
  max-width: 35px;
}

.ex-master-card__meta .type img {
  max-width: 14px;
}

.ex-master-card--horizontal .ex-master-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-master-card--horizontal .ex-master-card__wrapper {
    display: block;
  }
}

.ex-master-card--horizontal .ex-master-card__image {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 20px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  html:not([dir='rtl']) .ex-master-card--horizontal .ex-master-card__image, .translated-ltr .ex-master-card--horizontal .ex-master-card__image {
    margin: 0;
  }
  html[dir='rtl'] .ex-master-card--horizontal .ex-master-card__image, .translated-rtl .ex-master-card--horizontal .ex-master-card__image {
    margin: 0;
  }
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  html:not([dir='rtl']) .ex-master-card--horizontal .ex-master-card__image, .translated-ltr .ex-master-card--horizontal .ex-master-card__image {
    margin-right: 0;
  }
  html[dir='rtl'] .ex-master-card--horizontal .ex-master-card__image, .translated-rtl .ex-master-card--horizontal .ex-master-card__image {
    margin-left: 0;
  }
}

.ex-master-card--horizontal .ex-master-card__image .sitecore-image img {
  max-width: 270px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-master-card--horizontal .ex-master-card__image .sitecore-image img {
    max-width: 160px;
    min-width: 160px;
  }
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-master-card--horizontal .ex-master-card__image .sitecore-image img {
    max-width: 100%;
  }
}

.ex-master-card--horizontal .ex-master-card__image-icon {
  display: block;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-master-card--horizontal .ex-master-card__image-icon {
    display: none;
  }
}

.ex-master-card--horizontal .ex-master-card__icon {
  display: none;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-master-card--horizontal .ex-master-card__icon {
    display: block;
  }
}

.ex-master-card--horizontal .ex-master-card__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-master-card--horizontal .ex-master-card__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.ex-master-card--horizontal .ex-master-card__details > div {
  width: -webkit-calc(100% * (1/3) - 5px);
  width: calc(100% * (1/3) - 5px);
}

html:not([dir='rtl']) .ex-master-card--horizontal .ex-master-card__details > div, .translated-ltr .ex-master-card--horizontal .ex-master-card__details > div {
  padding-right: 10px;
}

html:not([dir='rtl']) .ex-master-card--horizontal .ex-master-card__details > div:last-child, .translated-ltr .ex-master-card--horizontal .ex-master-card__details > div:last-child {
  padding-right: 0;
}

html[dir='rtl'] .ex-master-card--horizontal .ex-master-card__details > div, .translated-rtl .ex-master-card--horizontal .ex-master-card__details > div {
  padding-left: 10px;
}

html[dir='rtl'] .ex-master-card--horizontal .ex-master-card__details > div:last-child, .translated-rtl .ex-master-card--horizontal .ex-master-card__details > div:last-child {
  padding-left: 0;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-master-card--horizontal .ex-master-card__details > div {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-master-card--horizontal .ex-master-card__details > div {
    width: -webkit-calc(100% * (1/2) - 5px);
    width: calc(100% * (1/2) - 5px);
    padding-left: 0;
    padding-right: 0;
  }
}

.ex-master-card--horizontal .ex-master-card__meta + .ex-master-card__details > div {
  margin-top: 0;
}

.ex-master-card--with-hover .ex-master-card {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ex-master-card--with-hover .ex-master-card:after {
  content: '';
  pointer-events: none;
  height: 10px;
  width: 100%;
  bottom: -10px;
  display: block;
}

.ex-master-card--with-hover .ex-master-card:hover {
  border-color: #0091C7;
  box-shadow: 0px 10px 0px 0px #0091C7;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}

.ex-master-card--with-hover .ex-master-card:hover:after {
  pointer-events: visible;
}

.ex-master-card--with-hover .ex-master-card__link {
  display: block;
}

.ex-master-card--with-hover .ex-master-card__cta {
  display: none;
}
