/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/

$ex-publications-card-background: $white-color !default;
$ex-publications-card-border: 1px solid #e0e0e1 !default;
$ex-publications-card-details-caategory-icon-color: $grey-900 !default;
$ex-publications-card-details-caategory-icon-fontSize: 16 !default;
$ex-publications-card-details-caategory-title-color: $grey-900 !default;
$ex-publications-card-details-caategory-title-fontSize: 12px !default;
$ex-publications-card-details-caategory-spaceBetweenTitleAndIcon: 5px !default;
$ex-publications-card-details-heading-color: $grey-900 !default;
$ex-publications-card-details-heading-fontSize: 16px !default;
$ex-publications-card-details-heading-marginTop: 20px !default;
$ex-publications-card-details-description-marginTop: 10px !default;
$ex-publications-card-details-description-fontSize: 14px !default;
$ex-publications-card-details-description-lineHeight-ar: 20px !default;
$ex-publications-card-details-description-lineHeight-en: 20px !default;
$ex-publications-card-details-data-marginTop: 15px !default;
$ex-publications-card-details-data-label-fontSize: 12px !default;
$ex-publications-card-details-data-value-fontSize: 14px !default;
$ex-publications-card-buttons-marginTop: 17px !default;
$ex-publications-card-buttons-button-border: 2px solid $grey-900 !default;
$ex-publications-card-buttons-button-fontSize: 12px !default;
$ex-publications-card-buttons-button-color: $grey-900 !default;
$ex-publications-card-buttons-button-lineHeight-en: 12px !default;
$ex-publications-card-buttons-button-lineHeight-ar: 12px !default;
$ex-publications-card-buttons-button-padding: 7px 8px !default;
$ex-publications-card-buttons-button-arrow-spaceBetweenTitleAndIcon: 20px !default;
$ex-publications-card-buttons-button-hover-background: $grey-900 !default;
$ex-publications-card-buttons-button-hover-color: $white-color !default;
$ex-publications-card-buttons-button-margin: 15px !default;
$ex-publications-card-lang-select-border: 2px solid $grey-900 !default;
$ex-publications-card-lang-select-padding: 7px 8px !default;
$ex-publications-card-lang-select-fontSize: 12px !default;
$ex-publications-card-lang-select-lineHeight-en: 12px !default;
$ex-publications-card-lang-select-lineHeight-ar: 12px !default;

$ex-publications-dropdown-listItem-border: 1px solid #e0e0e1 !default;
$ex-publications-dropdown-listItem-background: $white-color !default;
$ex-publications-dropdown-listItem-maxHeight: 162px !default;
$ex-publications-dropdown-listItem-item-padding: 7px 9px !default;
$ex-publications-dropdown-listItem-item-text-color:$grey-900 !default;
$ex-publications-dropdown-listItem-item-text-fontSize: 16px !default;
$ex-publications-dropdown-listItem-item-text-lineHeight-en: 24px !default;
$ex-publications-dropdown-listItem-item-text-lineHeight-ar: 24px !default;

//background layout
$ex-publications-background-minHeight: 520px !default;
$ex-publications-background-img-width:128px !default; 
$ex-publications-background-img-margin: 20px 20px 1px 20px !default; 
$ex-publications-background-contentWrapperBackgroundColor: rgba(255, 255, 255, 0.4) !default; 

