/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/

$live-monitoring-marginBottom : 60px !default;
$live-monitoring-title-marginBottom : 30px !default;
$live-monitoring-map-height : 415px !default;
$live-monitoring-data-marginBottom : 100px !default;
$live-monitoring-cell-lineHeight:24px !default;
$live-monitoring-firstCell-wdth: 70px !default;
$live-monitoring-firstRow-borderTop: 0 !default;
