/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Overrides 
Author: TAMM
***************************************************************************************************/


// news cards 
$news-card-listing-rounded-img:0;
$news-card-img-border-radius:0;
