/***************************************************************************************************
Extension Name: ex-sxa-collection 
Extension Version:  
File: base file
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-sxa-collection 
File: All Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: All Shared Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: Shared Mixins
Owner:  
***************************************************************************************************/
/***************************************************************************************************
File: Variables
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-sxa-collection 
File: Overrides 
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: ADGE Default Palette
Owner:  
***************************************************************************************************/
/* Primary */
/* Secondary */
/* Inverted */
/* Teritary */
/* highlight */
/* Label */
/* Links */
/* Separators colors */
/* Section title */
/***************************************************************************************************
Extension Name: ex-sxa-collection 
File: Variables
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-sxa-collection 
File: Variables
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-sxa-collection 
File: Variables
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-sxa-collection 
File: Variables
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-sxa-collection 
File: Variables
Author: TAMM
***************************************************************************************************/
.ex-sxa-filter__title {
  opacity: 0.56;
  font-size: 12px;
  line-height: normal;
  color: #000;
  padding-bottom: 10px;
}

html[dir='rtl'] .ex-sxa-filter__title, .translated-rtl .ex-sxa-filter__title {
  text-align: right;
}

html:not([dir='rtl']) .ex-sxa-filter__title, .translated-ltr .ex-sxa-filter__title {
  letter-spacing: 1.09px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-sxa-filter__title {
    margin-top: 0px;
  }
}

.ex-sxa-filter__input {
  cursor: pointer;
  position: relative;
}

.ex-sxa-filter__input .facet-heading {
  display: none;
}

.ex-sxa-filter__input .dropdown-icon {
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 35px;
  height: -webkit-calc(100% - 4px);
  height: calc(100% - 4px);
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FAFAFA;
}

html[dir='rtl'] .ex-sxa-filter__input .dropdown-icon, .translated-rtl .ex-sxa-filter__input .dropdown-icon {
  left: 10px;
  right: auto;
}

.ex-sxa-filter__input input {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: solid 1px #AFAFAF;
  background-color: #FAFAFA;
  padding: 5px 30px;
  -webkit-appearance: none;
}

.ex-sxa-filter__input input.startDate.hasDatepicker {
  cursor: pointer;
}

.ex-sxa-filter__input .facet-dropdown-select {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  border: solid 1px #AFAFAF;
  background-color: #FAFAFA;
  padding: 5px 30px;
  -webkit-appearance: none;
}

.ex-sxa-filter__input select::-ms-expand {
  display: none;
}

.ex-sxa-filter__input .icon-delete-filled {
  /*position: absolute;
      z-index: 2;
      top: 17px;
    
      right:47px;
      @include rtl {
        left: 47px;
        right:auto;
      }*/
}

.ex-sxa-filter__input .bottom-remove-filter {
  width: 40px;
  height: -webkit-calc(100% - 2px);
  height: calc(100% - 2px);
  display: inline-block;
  position: absolute;
  top: 1px;
  z-index: 1;
}

html:not([dir='rtl']) .ex-sxa-filter__input .bottom-remove-filter, .translated-ltr .ex-sxa-filter__input .bottom-remove-filter {
  right: 45px;
}

html[dir='rtl'] .ex-sxa-filter__input .bottom-remove-filter, .translated-rtl .ex-sxa-filter__input .bottom-remove-filter {
  left: 45px;
}

.ex-sxa-filter__input .bottom-remove-filter button {
  font-size: 0;
}

.ex-sxa-filter__input .bottom-remove-filter, .ex-sxa-filter__input .bottom-remove-filter-custom {
  position: absolute;
  top: 2px;
  width: 38px;
  height: -webkit-calc(100% - 4px);
  height: calc(100% - 4px);
  padding: 0;
  right: 45px;
}

html[dir='rtl'] .ex-sxa-filter__input .bottom-remove-filter, .translated-rtl .ex-sxa-filter__input .bottom-remove-filter, html[dir='rtl'] .ex-sxa-filter__input .bottom-remove-filter-custom, .translated-rtl .ex-sxa-filter__input .bottom-remove-filter-custom {
  left: 45px;
  right: auto;
}

.ex-sxa-filter__input .bottom-remove-filter button, .ex-sxa-filter__input .bottom-remove-filter-custom button {
  padding: 0;
  background: #FAFAFA;
  position: relative;
  height: 100%;
  width: 100%;
}

.ex-sxa-filter__input .bottom-remove-filter-custom {
  pointer-events: none;
  z-index: 10;
}

.ex-sxa-filter__input .facet-dropdown-select {
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  border: solid 1px #AFAFAF;
  background-color: #FAFAFA;
  width: 100%;
  padding: 0 10px;
  direction: inherit;
  color: #000;
  padding-right: 50px;
}

html[dir='rtl'] .ex-sxa-filter__input .facet-dropdown-select, .translated-rtl .ex-sxa-filter__input .facet-dropdown-select {
  padding-left: 50px;
  padding-right: 10px;
}

.ex-sxa-filter__input__icon-left {
  top: 18px;
  pointer-events: none;
}

html:not([dir='rtl']) .ex-sxa-filter__input__icon-left, .translated-ltr .ex-sxa-filter__input__icon-left {
  left: 10px;
}

html[dir='rtl'] .ex-sxa-filter__input__icon-left, .translated-rtl .ex-sxa-filter__input__icon-left {
  right: 10px;
}

.ex-sxa-filter__input__icon-right {
  position: absolute;
  top: 18px;
  pointer-events: none;
}

html:not([dir='rtl']) .ex-sxa-filter__input__icon-right, .translated-ltr .ex-sxa-filter__input__icon-right {
  right: 10px;
}

html[dir='rtl'] .ex-sxa-filter__input__icon-right, .translated-rtl .ex-sxa-filter__input__icon-right {
  left: 10px;
}

.ui-datepicker {
  width: auto;
}

.ui-datepicker .ui-datepicker-title select {
  cursor: pointer;
}

html[dir='rtl'] .ui-datepicker, .translated-rtl .ui-datepicker {
  width: 20em;
}

.ex-sxa-filter .ex-sxa-filter__input .bottom-remove-filter,
.ex-sxa-filter .ex-sxa-filter__input .bottom-remove-filter-custom {
  display: none !important;
}

.ex-sxa-filter.ex-sxa-filter-active .ex-sxa-filter__input .bottom-remove-filter,
.ex-sxa-filter.ex-sxa-filter-active .ex-sxa-filter__input .bottom-remove-filter-custom {
  display: block !important;
}
