/***************************************************************************************************
Extension Name: ex-loader 
Extension Version:  
File: base file
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-loader 
File: All Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: All Shared Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: Shared Mixins
Owner:  
***************************************************************************************************/
/***************************************************************************************************
File: Variables
Owner:  
***************************************************************************************************/
/***************************************************************************************************
File: ADGE Default Palette
Owner:  
***************************************************************************************************/
/* Primary */
/* Secondary */
/* Inverted */
/* Teritary */
/* highlight */
/* Label */
/* Links */
/* Separators colors */
/* Section title */
/***************************************************************************************************
Extension Name: ex-loader 
File: Variables
Author: TAMM
***************************************************************************************************/
.ex-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 100000;
}

.ex-loader img {
  display: none;
}

.on-page-editor .ex-loader {
  z-index: 1;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  width: 150px;
  height: 150px;
  background-color: #9F9FA2;
  padding: 10px;
}

.on-page-editor .ex-loader img {
  display: block;
}

.ex-loader--fixed {
  position: fixed;
}

.ex-loader--static {
  position: static;
}

.ex-loader svg * {
  fill: none;
  stroke: currentColor;
}

.ex-loader__loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  position: relative;
}

.ex-loader__loader span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
}

.ex-loader__loader span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

@keyframes loader {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}
