/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


$authentication-login-cards:$grey-100 !default;
$authentication-login-cards-font-color:$black-color !default;
$authentication-login-line-background-color: $primary-color4 !default;
$authentication-login-line-min-height: 85px !default;
$authentication-login-line-width: 2px !default;
$authentication-login-line-text-color:$primary-color4 !default;
$authentication-login-card-font-size: 14px !default;
$authentication-login-card-margin : 10px !default;