<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Don't remove Section -->

    <!-- ex-main-theme -->
    <link rel="stylesheet" href="../../ex-main-theme/styles/bootstrap.css">
    <link rel="stylesheet" href="../../ex-main-theme/styles/fontawesome.css">
    <link rel="stylesheet" href="../../ex-main-theme/styles/icomoon.css">
    <link rel="stylesheet" href="../../ex-main-theme/styles/jquery-fancybox.css">
    <link rel="stylesheet" href="../../ex-main-theme/styles/owl-carousel.css">
    <link rel="stylesheet" href="../../ex-main-theme/styles/slick.css">
    <link rel="stylesheet" href="../../ex-main-theme/styles/smooth-scrollbar.css">

    <!-- ex-layout  -->
    <link rel="stylesheet" href="../../ex-layout/styles/components-layout.css">
    <!-- End don't remove Section -->


    <!-- Your css files goes here -->
    <link rel="stylesheet" href="../../ex-icon-card/styles/components-icon-card.css">
    <link rel="stylesheet" href="../../../themes/ADCDA/styles/ext-components-styles-min.css">
    <link rel="stylesheet" href="../../../themes/ADCDA/styles/components-ADCDA.css">

    <!-- Your css files goes here -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        .ex-icon-card {
            height: 200px !important;
        }

        .js-slick-mobile-disabled {
            padding: 0 10px;
        }
    </style>
</head>

<body class="">




    <div class="component FeaturedContentList ">
        <div class="component-content">
            <div class="section section--white py-9 section--right section--top section--repeat-y section--bg-contain"
                style="background-image: url();">
                <div class="container carousel-navigation">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center text-center flex-column title-block mb-6">
                            <p class="mb-2 text-uppercase caption font-weight-boldest  field-title">Explore our wide
                                range of</p>
                            <h2 class="field-subtitle">Featured Services</h2>
                        </div>
                    </div>
                    <div data-enableArrows="true" data-next-arrow="services-next" data-rows-md="2" data-slides-sm="1"
                        data-centerpadding-sm="50px" class="row js-slick-mobile-disabled" data-slidestoshow="3"
                        data-rowstoshow="2" data-centerpadding-md="220px" data-rows-sm="2" data-rows-lg="2"
                        data-slides-md="1" data-slides-lg="3" data-slick-editor="false" data-slides-xs="1"
                        data-slick="true" data-prev-arrow="services-prev" data-autoplay="false">
                        <div
                            class="ex-icon-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start h-100 rounded-5">
                            <a title="Service 1" href="/adcda/Data/Services/Service-1">
                                <div
                                    class="ex-icon-card__wrapper w-100 d-flex justify-content-center align-items-start">
                                    <div
                                        class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-lg-center">
                                        <div class="card-icon"><img src=" "></img></div>
                                    </div>
                                    <div
                                        class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column  align-items-center justify-content-center flex-grow-1">
                                        <div class="d-flex-block  flex-column flex-grow-1 mx-2">
                                            <div
                                                class="card-title w-100 font-weight-boldest truncate truncate-2 field-title">
                                                ADCDA Service no. 1</div>
                                            <p class="truncate truncate-2 label caption field-shortdescription">Please
                                                check various services on MOI website.</p>
                                        </div><a title="Service 1" href="/adcda/Data/Services/Service-1">
                                            <div class="text-indent stretched-link overflow-hidden "></div>
                                        </a>
                                        <div class="field-link"><a
                                                data-variantitemid="{8C3EF19A-B847-4D4F-ACD8-A9D02311C81F}"
                                                target="_blank" rel="noopener noreferrer"
                                                class="text-indent stretched-link overflow-hidden d-block"
                                                href="https://www.moi.gov.ae/ar/default.aspx"
                                                data-variantfieldname="Link">View Details</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div
                            class="ex-icon-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start h-100 rounded-5">
                            <a title="Service 7" href="/adcda/Data/Services/Service-7">
                                <div
                                    class="ex-icon-card__wrapper w-100 d-flex justify-content-center align-items-start">
                                    <div
                                        class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-lg-center">
                                        <div class="card-icon"><img src=" "></img></div>
                                    </div>
                                    <div
                                        class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column  align-items-center justify-content-center flex-grow-1">
                                        <div class="d-flex-block  flex-column flex-grow-1 mx-2">
                                            <div
                                                class="card-title w-100 font-weight-boldest truncate truncate-2 field-title">
                                                ADCDA Training </div>
                                            <p class="truncate truncate-2 label caption field-shortdescription">ADCDA
                                                Training is in Session</p>
                                        </div><a title="Service 7" href="/adcda/Data/Services/Service-7">
                                            <div class="text-indent stretched-link overflow-hidden "></div>
                                        </a>
                                        <div class="field-link"><a
                                                data-variantitemid="{F8C6172A-9325-4D8D-A58D-95BB40F00E9A}"
                                                target="_blank" rel="noopener noreferrer"
                                                class="text-indent stretched-link overflow-hidden d-block"
                                                href="https://www.moi.gov.ae/en/eservices/login.aspx"
                                                data-variantfieldname="Link">View Details</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div
                            class="ex-icon-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start h-100 rounded-5">
                            <a title="Service 3" href="/adcda/Data/Services/Service-3">
                                <div
                                    class="ex-icon-card__wrapper w-100 d-flex justify-content-center align-items-start">
                                    <div
                                        class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-lg-center">
                                        <div class="card-icon"><img src=" "></img></div>
                                    </div>
                                    <div
                                        class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column  align-items-center justify-content-center flex-grow-1">
                                        <div class="d-flex-block  flex-column flex-grow-1 mx-2">
                                            <div
                                                class="card-title w-100 font-weight-boldest truncate truncate-2 field-title">
                                                CD equipment and fire doors factory (new license)</div>
                                            <p class="truncate truncate-2 label caption field-shortdescription">
                                                Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur.</p>
                                        </div><a title="Service 3" href="/adcda/Data/Services/Service-3">
                                            <div class="text-indent stretched-link overflow-hidden "></div>
                                        </a>
                                        <div class="field-link"><a
                                                data-variantitemid="{B2898C47-D11A-4BA5-A830-47FF6DE45096}"
                                                class="text-indent stretched-link overflow-hidden d-block"
                                                href="http://www.google.com" data-variantfieldname="Link">View
                                                Details</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div
                            class="ex-icon-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start h-100 rounded-5">
                            <a title="Service 4" href="/adcda/Data/Services/Service-4">
                                <div
                                    class="ex-icon-card__wrapper w-100 d-flex justify-content-center align-items-start">
                                    <div
                                        class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-lg-center">
                                        <div class="card-icon"><img src=" "></img></div>
                                    </div>
                                    <div
                                        class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column  align-items-center justify-content-center flex-grow-1">
                                        <div class="d-flex-block  flex-column flex-grow-1 mx-2">
                                            <div
                                                class="card-title w-100 font-weight-boldest truncate truncate-2 field-title">
                                                Certificate of Completion of Building</div>
                                            <p class="truncate truncate-2 label caption field-shortdescription">
                                                Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur.</p>
                                        </div><a title="Service 4" href="/adcda/Data/Services/Service-4">
                                            <div class="text-indent stretched-link overflow-hidden "></div>
                                        </a>
                                        <div class="field-link"><a
                                                data-variantitemid="{9B9622BF-F4D6-44A5-AD4B-BAF800E1B563}"
                                                class="text-indent stretched-link overflow-hidden d-block"
                                                href="http://www.google.com" data-variantfieldname="Link">View
                                                Details</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div
                            class="ex-icon-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start h-100 rounded-5">
                            <a title="Service 5" href="/adcda/Data/Services/Service-5">
                                <div
                                    class="ex-icon-card__wrapper w-100 d-flex justify-content-center align-items-start">
                                    <div
                                        class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-lg-center">
                                        <div class="card-icon"><img src=" "></img></div>
                                    </div>
                                    <div
                                        class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column  align-items-center justify-content-center flex-grow-1">
                                        <div class="d-flex-block  flex-column flex-grow-1 mx-2">
                                            <div
                                                class="card-title w-100 font-weight-boldest truncate truncate-2 field-title">
                                                CD equipment agent activity (New License)</div>
                                            <p class="truncate truncate-2 label caption field-shortdescription">
                                                Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur.</p>
                                        </div><a title="Service 5" href="/adcda/Data/Services/Service-5">
                                            <div class="text-indent stretched-link overflow-hidden "></div>
                                        </a>
                                        <div class="field-link"><a
                                                data-variantitemid="{B71849CC-E1B0-42A3-9251-DAA4C370EA44}"
                                                class="text-indent stretched-link overflow-hidden d-block"
                                                href="http://www.google.com" data-variantfieldname="Link">View
                                                Details</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div
                            class="ex-icon-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start h-100 rounded-5">
                            <a title="Service 6" href="/adcda/Data/Services/Service-6">
                                <div
                                    class="ex-icon-card__wrapper w-100 d-flex justify-content-center align-items-start">
                                    <div
                                        class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-lg-center">
                                        <div class="card-icon"><img src=" "></img></div>
                                    </div>
                                    <div
                                        class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column  align-items-center justify-content-center flex-grow-1">
                                        <div class="d-flex-block  flex-column flex-grow-1 mx-2">
                                            <div
                                                class="card-title w-100 font-weight-boldest truncate truncate-2 field-title">
                                                Distributor of fire fighting equipment (new license)</div>
                                            <p class="truncate truncate-2 label caption field-shortdescription">
                                                Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur.</p>
                                        </div><a title="Service 6" href="/adcda/Data/Services/Service-6">
                                            <div class="text-indent stretched-link overflow-hidden "></div>
                                        </a>
                                        <div class="field-link"><a
                                                data-variantitemid="{AFB4884D-AB48-493E-8744-D8F2583C6AD9}"
                                                class="text-indent stretched-link overflow-hidden d-block"
                                                href="http://www.google.com" data-variantfieldname="Link">View
                                                Details</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div
                            class="ex-icon-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start h-100 rounded-5">
                            <a title="Service 9" href="/adcda/Data/Services/Service-9">
                                <div
                                    class="ex-icon-card__wrapper w-100 d-flex justify-content-center align-items-start">
                                    <div
                                        class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-lg-center">
                                        <div class="card-icon"><img src=" "></img></div>
                                    </div>
                                    <div
                                        class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column  align-items-center justify-content-center flex-grow-1">
                                        <div class="d-flex-block  flex-column flex-grow-1 mx-2">
                                            <div
                                                class="card-title w-100 font-weight-boldest truncate truncate-2 field-title">
                                                ADCDA Service no. 9</div>
                                            <p class="truncate truncate-2 label caption field-shortdescription">Please
                                                check various services on MOI website.</p>
                                        </div><a title="Service 9" href="/adcda/Data/Services/Service-9">
                                            <div class="text-indent stretched-link overflow-hidden "></div>
                                        </a>
                                        <div class="field-link"><a
                                                data-variantitemid="{5ACF221A-B66A-43C4-AC34-ECBD800388D2}"
                                                target="_blank" rel="noopener noreferrer"
                                                class="text-indent stretched-link overflow-hidden d-block"
                                                href="https://www.moi.gov.ae/ar/default.aspx"
                                                data-variantfieldname="Link">View Details</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div
                            class="ex-icon-card ex-icon-card--hover-effect mb-3 d-flex justify-content-start align-items-start h-100 rounded-5">
                            <a title="Service 8" href="/adcda/Data/Services/Service-8">
                                <div
                                    class="ex-icon-card__wrapper w-100 d-flex justify-content-center align-items-start">
                                    <div
                                        class="ex-icon-card__wrapper__content d-flex flex-column align-items-start justify-content-lg-center">
                                        <div class="card-icon"><img src=" "></img></div>
                                    </div>
                                    <div
                                        class="ex-icon-card__wrapper__content d-lg-flex flex-lg-row flex-md-column flex-sm-column  align-items-center justify-content-center flex-grow-1">
                                        <div class="d-flex-block  flex-column flex-grow-1 mx-2">
                                            <div
                                                class="card-title w-100 font-weight-boldest truncate truncate-2 field-title">
                                                ADCDA Service no. 8</div>
                                            <p class="truncate truncate-2 label caption field-shortdescription">Please
                                                check various services on MOI website.</p>
                                        </div><a title="Service 8" href="/adcda/Data/Services/Service-8">
                                            <div class="text-indent stretched-link overflow-hidden "></div>
                                        </a>
                                        <div class="field-link"><a
                                                data-variantitemid="{09C4932B-5E12-4EEE-B524-C354A974378E}"
                                                target="_blank" rel="noopener noreferrer"
                                                class="text-indent stretched-link overflow-hidden d-block"
                                                href="https://www.moi.gov.ae/ar/default.aspx"
                                                data-variantfieldname="Link">View Details</a></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center justify-content-start">
                                <div
                                    class="button button--secondary button--medium d-inline-flex justify-content-between position-relative no-wrap  rounded-5">
                                    <div class="stretched-link-field text-uppercase mx-1 field-view-all-link"><a
                                            href="/en/adcda/Services"
                                            data-variantitemid="{72F56F63-0D1E-4C9A-BD92-02211C07BAA0}" title="View All"
                                            data-variantfieldname="View All Link">View All</a></div><i
                                        class="icon-arrow-small-right rotated-element d-inline-block mx-1"></i>
                                </div>
                                <hr class="w-100 mx-2 d-lg-block d-md-none d-sm-none opacity-40">
                                </hr>
                                <div class="no-wrap d-lg-flex d-md-none d-sm-none">
                                    <div class="carousel-navigation__prev services-prev slick-arrow d-inline-flex align-items-center justify-content-center cursor-pointer"
                                        aria-label="prev"><i
                                            class="icon-arrow-small-left rotated-element d-inline-block"></i></div>
                                    <div class="carousel-navigation__next services-next d-inline-flex align-items-center justify-content-center cursor-pointer"
                                        aria-label="Next"><i
                                            class="icon-arrow-small-right rotated-element d-inline-block"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>



    <!-- ex-main-theme : uncomment needed files -->
    <!-- Lib -->
    <!-- <script src="../../ex-main-theme/scripts/lib/smooth-scrollbar-min.js"></script> -->
    <!-- <script src="../../ex-main-theme/scripts/lib/fontawesome-min.js"></script> -->
    <script src="../../ex-main-theme/scripts/lib/slick-min.js"></script>
    <!-- init  -->
    <script src="../../ex-main-theme/scripts/prototypes/prototypeextensions.js"></script>
    <script src="../../ex-main-theme/scripts/prototypes/extendextensions.js"></script>

    <script src="../../ex-main-theme/scripts/fancybox-init.js"></script>
    <!--<script src="../../ex-main-theme/scripts/owl-init.js"></script>-->
    <!-- <script src="../../ex-main-theme/scripts/scrollbar-init.js"></script> -->
    <!-- <script src="../../ex-main-theme/scripts/lib/letteranimation-min.js"></script> -->
    <script src="../../ex-main-theme/scripts/slick-init.js"></script>
    <script src="../../ex-main-theme/scripts/truncate-init.js"></script>

    <!-- ex-main-theme : uncomment needed files -->
    <script>
        // $(window).load(function () {
        //     if (window.innerWidth <= 767) {
        //         $(".slick-disbaled-mobile").unslick();
        //         console.log("disabled slick")
        //     }
        // });
    </script>

    <!-- Your js files goes here -->


    <!-- Your js files goes here -->
</body>

</html>