/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/

$ex-page-content-detail-icon-size: 20px;
$ex-page-content-detail-margin-side: 20px;
$ex-page-content-detail-icon-margin: 10px;
$ex-page-content-detail-icon-title-size: 12px;
$ex-page-content-detail-icon-color: $secondary-color;
$ex-page-content-detail-icon-margin-bottom: 40px;
$ex-page-content-detail-icon-title-color: $grey-900;

$ex-page-content-event-title-font-size: 30px;
$ex-page-content-event-title-line-height: 1.17;
$ex-page-content-event-title-font-weight: normal;
$ex-page-content-event-title-margin-bottom: 55px;

$ex-page-content-event-banner-height: 480px;

$ex-page-content-event-card-width: 280px;
$ex-page-content-event-card-padding: 20px;
$ex-page-content-event-card-date-size: 30px;
$ex-page-content-event-card-border-radius: 20px;
$ex-page-content-event-card-bg-color: $white-color;
$ex-page-content-event-card-icon-info-font-size: 12px;
$ex-page-content-event-card-link-color: $secondary-color;
$ex-page-content-event-card-icon-info-font-weight: bold;
$ex-page-content-event-card-icons-color: $secondary-color;
$ex-page-content-event-card-shadow-color: $grey-200;

$ex-page-content-small-heading-size: 16px;
$ex-page-content-small-heading-font-weight: 900;
$ex-page-content-small-heading-blue-color: $secondary-color;
$ex-page-content-line-height: 1.5;

$ex-page-content-size: 16px;
$ex-page-content-line-height: 1.5;
$ex-page-content-description-size: 25px;
