/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/
$quote-min-height:160px;
$quote-padding:0 1.5rem;
$quote-img-reset-width:auto;
$quote-border-raduis:100%;
$quote-border-raduis-reset:0;
$quote-aligment-left:30px;
$quote-aligment-right:30px;
$quote-wrapper-txt-color:$black-color;
$quote-wrapper-padding:15px;
$quote-heading-padding:25px;
$quote-heading-fs:12px; 
$qoute-heading-height:4px;
$qoute-heading-border-raduis:5px;
$qoute-heading-width:100%;
$qoute-heading-pos:absolute;
$qoute-heading-bottom:-20px;
$qoute-heading-align:0;
$quote-text-fs:20px;
$quote-text-lh : 26px;
$quote-owl-dots: 17px 0 100px 0;
$quote-text-position-fs: 12px;
$quote-text-position-color : $grey-500;
$quote-text-line-hright:15px;