<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Don't remove Section -->

    <!-- End don't remove Section -->

    <!-- Your css files goes here -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/ext-components-styles-min.css" />
    <link rel="stylesheet" href="../styles/components-ADCCI-NEW.css" />
    <link rel="stylesheet" href="../styles/aos.css" />
    <!-- Your css files goes here -->
  </head>

  <body>
    <div class="head_wrapper">
      <!-- header -->
      <header>
        <div id="header" class="position-fixed w-100">
          <div class="component content ex-headerv2 innerPage">
            <div class="component-content">
              <div class="ex-headerv2__wrapper p-0 w-100">
                <div class="ex-headerv2__wrapper__level1">
                  <ul
                    class="ex-headerv2__right-section__upper-menu d-none d-md-flex justify-content-end align-items-center"
                  >
                    <li>
                      <a href="#"
                        ><i class="icon-samrservices px-2"></i
                        ><span class="px-2">Smart Services</span></a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="icon-paragraph-image-right px-2"></i
                        ><span class="px-2">News & Insights</span></a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="icon-contact px-2"></i
                        ><span class="px-2">Contact Us</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="lang-switcher">
                        <i class="icon-lang px-2"></i
                        ><span class="px-2">العربية</span></a
                      >
                    </li>
                  </ul>
                </div>
                <div class="ex-headerv2__wrapper__level2 d-flex flex-row w-100">
                  <div
                    class="ex-headerv2__leftsection position-relative d-flex flex-row align-items-center justify-content-start"
                  >
                    <ul
                      class="ex-headerv2__left-section__logo-menu ex-headerv2__nav-primary d-flex"
                    >
                      <li>
                        <img
                          src="../../../themes/ADCCI-NEW/images/adcciLogo_dark.svg"
                          alt=""
                        />
                      </li>
                    </ul>
                  </div>
                  <div
                    class="ex-headerv2__right-section flex-grow-1 d-flex flex-row align-items-center justify-content-end"
                  >
                    <ul
                      class="ex-headerv2__right-section__upper-navigation-menu d-none d-lg-flex align-items-center"
                    >
                      <li>
                        <div class="mega_menu_dropdown has_dropdown">
                          <a href="#"
                            >Who We Are <i class="icon-chevron-down pl-2"></i
                          ></a>
                          <div class="mega_menu sub_menu">
                            <div class="mega_menu_wrapper">
                              <div class="row">
                                <div class="col-12 col-md-4 d-none d-md-flex">
                                  <div class="mega_menu_item">
                                    <img
                                      src="../../../themes/ADCCI-NEW/images/megamenu.svg"
                                      alt=""
                                    />
                                  </div>
                                </div>

                                <div class="col-12 col-md-8">
                                  <div class="row">
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              Our History
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              Our Values
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              CEO Message
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              Leadership
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              Vision & Mission
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="mega_menu_dropdown has_dropdown">
                          <a href="#"
                            >Empowering Businesses
                            <i class="icon-chevron-down pl-2"></i
                          ></a>
                          <div class="mega_menu sub_menu">
                            <div class="mega_menu_wrapper">
                              <div class="row">
                                <div class="col-12 col-md-4 d-none d-md-flex">
                                  <div class="mega_menu_item">
                                    <img
                                      src="../../../themes/ADCCI-NEW/images/megamenu.svg"
                                      alt=""
                                    />
                                  </div>
                                </div>

                                <div class="col-12 col-md-8">
                                  <div class="row">
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              Our History
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              Our Values
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              CEO Message
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              Leadership
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                      <div
                                        class="mega_menu_item_wrapper d-flex flex-column align-items-start align-self-stretch"
                                      >
                                        <a href="#" class="mega_menu_link">
                                          <div class="mega_menu_item">
                                            <div class="mega_menu_item_title">
                                              Vision & Mission
                                            </div>
                                            <div
                                              class="mega_menu_item_description d-none d-lg-flex"
                                            >
                                              The Abu Dhabi Chamber of Commerce
                                              and Industry was established in
                                              1969...
                                            </div>
                                          </div>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div>
                          <a href="#"
                            >Policy Advocacy
                            <i class="icon-chevron-down pl-2"></i
                          ></a>
                        </div>
                      </li>
                      <li>
                        <div>
                          <a href="#"
                            >Grow With Us <i class="icon-chevron-down pl-2"></i
                          ></a>
                        </div>
                      </li>
                      <li>
                        <div>
                          <a href="#"
                            >Subsidiaries<i class="icon-chevron-down pl-2"></i
                          ></a>
                        </div>
                      </li>
                      <li>
                        <ul class="d-flex d-md-none flex-column mobile_level1">
                          <li>
                            <a href="#"
                              ><i class="icon-samrservices px-2"></i
                              ><span class="px-2">Smart Services</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><i class="icon-paragraph-image-right px-2"></i
                              ><span class="px-2">News &amp; Insights</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><i class="icon-contact px-2"></i
                              ><span class="px-2">Contact Us</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                    </ul>

                    <span
                      class="ex-headerv2__right-section__icon-wrp d-flex d-md-none align-items-center justify-content-end position-relative"
                    >
                      <a href="#" class="lang-switcher">
                        <span class="px-2">العربية</span></a
                      ></span
                    >
                    <span
                      class="d-lg-flex align-items-center justify-content-end position-relative"
                    >
                      <a
                        href="javascript:void(0);"
                        class="search ex-headerv2__right-section__icon-wrp ex-headerv2__right-section__icon-wrp--sep ex-headerv2__right-section__search-icon search-bar d-flex align-items-center justify-content-center position-relative"
                      >
                        <i class="icon-search"></i>
                      </a>
                    </span>
                    <!-- out of the box search input  -->
                    <div class="ex-headerv2__right-section__search-dismiss">
                      <i class="icon-remove"></i>
                    </div>
                    <div
                      class="component search-box horizontal initialized"
                      data-properties='{"endpoint":"/master-site/sxa/search/results/","suggestionEndpoint":"/master-site/sxa/search/suggestions/","suggestionsMode":"ShowSearchResults","resultPage":"","targetSignature":"searchresult","v":"{EBA38A29-CA15-40C5-BF8C-90915BD1BB18}","s":"{C69EB2DE-B532-4FA9-BA69-254BA62EE1C6}","p":5,"l":"en","languageSource":"CurrentLanguage","searchResultsSignature":"searchresult","itemid":"{654679CB-6B52-4052-B406-B58AE89DF18D}"}'
                    >
                      <div class="component-content">
                        <label for="textBoxSearch"> </label>
                        <span
                          class="twitter-typeahead"
                          style="position: relative; display: inline-block"
                          ><input
                            type="text"
                            class="search-box-input tt-hint"
                            autocomplete="off"
                            readonly=""
                            spellcheck="false"
                            tabindex="-1"
                            dir="ltr"
                            style="
                              position: absolute;
                              top: 0px;
                              left: 0px;
                              border-color: transparent;
                              box-shadow: none;
                              opacity: 1;
                              background: none 0% 0% / auto repeat scroll
                                padding-box border-box rgb(255, 255, 255);
                            "
                          /><input
                            type="text"
                            class="search-box-input tt-input"
                            autocomplete="off"
                            name="textBoxSearch"
                            placeholder=""
                            spellcheck="false"
                            dir="auto"
                            style="
                              position: relative;
                              vertical-align: top;
                              background-color: transparent;
                            "
                          />
                          <pre
                            aria-hidden="true"
                            style="
                              position: absolute;
                              visibility: hidden;
                              white-space: pre;
                              font-family: roboto-Regular, Arial, sans-serif;
                              font-size: 16px;
                              font-style: normal;
                              font-variant: normal;
                              font-weight: 400;
                              word-spacing: 0px;
                              letter-spacing: 0px;
                              text-indent: 0px;
                              text-rendering: auto;
                              text-transform: none;
                            "
                          ></pre>
                          <div
                            class="tt-menu"
                            style="
                              position: absolute;
                              top: 100%;
                              left: 0px;
                              z-index: 100;
                              display: none;
                            "
                          >
                            <div class="tt-dataset tt-dataset-0"></div>
                          </div>
                        </span>
                      </div>
                    </div>
                    <!-- out of the box search end -->
                    <span
                      class="ex-headerv2__right-section__icon-wrp d-flex hamburger_wrapper d-lg-none align-items-center justify-content-end position-relative"
                    >
                      <a
                        class="ex-headerv2__right-section__side-menu-nav d-flex align-items-center justify-content-center"
                        id="sidebarCollapse"
                      >
                        <div class="hamburger-box-v2">
                          <button class="navTrigger" id="navTrigger">
                            <svg viewBox="0 0 64 48">
                              <path
                                d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"
                              ></path>
                              <path
                                d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"
                              ></path>
                              <path
                                d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"
                              ></path>
                            </svg>
                          </button>
                        </div>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- End header -->
      <!-- ex-inner-header-v3 -->
      <div class="ex-inner-header-v3">
        <div class="ex-inner-header-v3__banner-wrapper">
          <div class="container">
            <div class="row">
              <div class="ex-inner-header-v3__banner-wrapper__title col-12">
                <h4 class="caption-title">Who We Are</h4>
                <h1 class=" ">
                  The Abu Dhabi Chamber provides all the means necessary to
                  support its members, investors, entrepreneurs and businessmen,
                  including facilitating access to trade requirements and smart
                  services.
                </h1>
              </div>
              <div class="page-breadcrumb-v3 col-12 px-0">
                <!--  <div
                  class="breadcrumb-toggler d-lg-none d-md-none d-sm-flex align-items-center"
                  role="button"
                >
                  <i class="icon-arrow-next mr-4"></i
                  ><span class="caption">Back</span>
                </div>
                <li
                  class="breadcrumb-toggler breadcrumb-toggler--dots breadcrumb-item d-lg-none d-sm-none position-relative"
                  role="button"
                >
                  <a>...</a>
                </li> -->
                <div class="component breadcrumb navigation-title">
                  <div class="component-content">
                    <nav>
                      <ol>
                        <li class="breadcrumb-item home">
                          <div class="navigation-title field-navigationtitle">
                            <a title="Home" href="/">Home</a>
                          </div>
                          <span class="separator d-none">/</span>
                        </li>
                        <li class="breadcrumb-item">
                          <div class="navigation-title field-navigationtitle">
                            <a title="Who-We-Are" href="/Who-We-Are"
                              >Who We Are</a
                            >
                          </div>
                          <span class="separator d-none">/</span>
                        </li>
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
              <div class="ex-inner-header-v3__banner-wrapper___image col-12">
                <img
                  src="../../../themes/ADCCI-NEW/images/innerpagebanner.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end ex-inner-header-v3 -->
    <!-- Nav menu -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Your code goes here -->

          <div class="ex-nav">
            <nav>
              <ul>
                <li>
                  <a href="#our-history">Our History </a>
                </li>
                <li class="active">
                  <a href="#about-the-chamber"> About The Chamber </a>
                </li>
                <li>
                  <a href="#visson-mission"> Vision, Mission & Values </a>
                </li>
                <li>
                  <a href="#ceo-message"> CEO Message </a>
                </li>
                <li>
                  <a href="#our-leadership"> Our Leadership </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- end Nav menu -->

    <!-- about the chamber -->
    <section id="about-the-chamber" class="about_the_chamber">
      <div class="container text-container pb-11">
        <h4 class="caption-title">About The Chamber</h4>
        <h1 class="tb-padding24">
          The Abu Dhabi Chamber provides all the means necessary to support its
          members, investors, entrepreneurs and businessmen, including
          facilitating access to trade requirements and smart services.
        </h1>
        <p class="caption pb-5">
          The Chamber undertakes six main tasks that go beyond providing
          services to other dimensions that contribute to sponsoring and
          supporting national economic development. The Chamber is committed to
          following Abu Dhabi’s approach in adopting the principles of
          scientific and modern strategic planning to complete the development
          process of the economic and investment sectors in the Emirate of Abu
          Dhabi and the UAE over the next five decades, and to maximize its
          contribution to achieving Abu Dhabi’s economic goals and both the “We
          are the UAE 2031” vision and “The UAE Vision 2071”, which contribute
          to highlighting the country’s successful economic model, and to pave
          the way towards a more accomplished and brighter future.
        </p>
        <p class="caption">
          The Chamber adopts a comprehensive and integrated development strategy
          for the years (2023 - 2025) that simulates the radical transformations
          that the world is witnessing today, and keeps pace with Abu Dhabi’s
          priorities in building a diversified and sustainable knowledge
          economy. It also includes innovative and ambitious plans that
          establish a qualitative leap in the Chamber’s performance, its work
          system and services, and its support for the business community. It
          ensures its effective contribution to advancing sustainable
          development witnessed by the capital, supporting the private sector,
          enhancing its competitive capabilities and enabling it to keep pace
          with global economic changes, by facilitating trade exchange
          opportunities, supporting policies, and adopting innovation and
          digital transformations.
        </p>
      </div>
    </section>
    <!--end about the chamber -->

    <!-- upcoming activites -->

    <div
      class="section section--parallax section--parallax__slider py-7 d-flex align-items-center w-100 mb-11"
      style="background-image: url(../images/parallex2.jpg)"
    >
      <div class="container text-container py-6 text-white">
        <div
          class="heading-block block moveUp d-flex pt-5 justify-content-center animated"
        >
          <h4>
            Learn about the upcoming activities organized, participated and
            hosted by Abu Dhabi Chamber, from trade to delegations and
            conferences, and exhibitions to economic forums
          </h4>
        </div>

        <div class="d-flex justify-content-center align-items-center pt-7">
          <div
            class="animated fadeInUp button button--invert--white d-inline-flex align-items-center justify-content-center"
          >
            <a
              class="stretched-link mx-1 my-1"
              href="javascript:void(0);"
              rv="VariantField"
            >
              View All
            </a>
            <i
              class="icon rotated-element icon-arrow-next disable-pointer mx-1"
              rv="VariantField"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <!-- end upcoming activites -->
    <!-- footer -->
    <footer>
      <div id="footer">
        <div class="component">
          <div class="component-content">
            <div class="ex-footer-v3">
              <div class="ex-footer-v3__usefullinks">
                <div class="row">
                  <div
                    class="d-flex justify-content-between ex-footer-v3__usefullinks_wrapper flex-wrap flex-lg-nowrap w-100"
                  >
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="tags font-weight-bold mb-4">Useful Links</div>
                      <ul>
                        <li>
                          <a href="javascript:void(0);">Join Our Family</a>
                          <i class="icon-arrow-next"></i>
                        </li>
                        <li>
                          <a href="javascript:void(0);">Commercial Directory</a>
                          <i class="icon-arrow-next"></i>
                        </li>
                        <li>
                          <a href="javascript:void(0);">Our Initiatives</a>
                          <i class="icon-arrow-next"></i>
                        </li>
                      </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <div class="tags font-weight-bold mb-4">Media Center</div>
                      <ul>
                        <li>
                          <a href="javascript:void(0);">News & Insights</a>
                          <i class="icon-arrow-next"></i>
                        </li>
                        <li>
                          <a href="javascript:void(0);">Events</a>
                          <i class="icon-arrow-next"></i>
                        </li>
                        <li>
                          <a href="javascript:void(0);">Events</a>
                          <i class="icon-arrow-next"></i>
                        </li>
                      </ul>
                    </div>
                    <div
                      class="col-lg-3 col-md-6 col-sm-12 order-md-4 order-lg-3"
                    ></div>
                    <div
                      class="col-lg-3 col-md-6 col-sm-12 order-md-4 order-lg-3"
                    >
                      <div class="tags font-weight-bold mb-4">Location</div>
                      <ul>
                        <li>
                          <p class="caption pb-7">
                            Abu Dhabi Corniche Street <br />
                            Dhabi Chamber Building, <br />Abu Dhabi, U.A.E.
                          </p>
                        </li>
                        <li><p class="caption">P.O.Box: 662</p></li>
                        <li>
                          <a href="tel:+971 2 621 4000" class="mb-0"
                            >Phone: +971 2 621 4000
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">Fax: +971 2 6215867 </a>
                        </li>
                        <li>Email: contact.us@adcci.gov.ae</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ex-footer-v3__settings">
                <div class="row flex-row justify-content-end">
                  <!-- highcontrast -->
                  <div class="col-lg-3 col-md-5 col-sm-12">
                    <div
                      class="ex-footer-v3__settings__contrastsettings d-none-ff d-none-ie"
                      rv="VariantSection"
                    >
                      <div
                        class="ex-footer-v3__settings__title mb-3"
                        rv="VariantSection"
                      >
                        Contrast Settings
                      </div>
                      <div class="contrast-wrapper d-flex" rv="VariantSection">
                        <a
                          href="javascript:void(0);"
                          class="contrast-wrapper__btn contrast-wrapper__btn--active text-center"
                          rv="VariantSection"
                          data-contrast="color"
                        >
                          High Contrast
                        </a>
                        <a
                          href="javascript:void(0);"
                          class="contrast-wrapper__btn text-center"
                          rv="VariantSection"
                          data-contrast="high"
                        >
                          Low Contrast
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- textSettings -->
                  <div
                    class="col-lg-3 col-md-5 col-sm-12 d-flex justify-content-center"
                  >
                    <div
                      class="ex-footer-v3__settings__textsetting d-flex flex-column align-items-center align-items-lg-start"
                      rv="VariantSection"
                    >
                      <div
                        rv="VariantSection"
                        class="ex-footer-v3__settings__title mb-3"
                      >
                        Text Settings
                      </div>
                      <div
                        rv="VariantSection"
                        class="textsettings-wrapper d-flex flex-row"
                      >
                        <div
                          rv="VariantSection"
                          class="textsettings-wrapper__btn text-center"
                          data-zoom="out"
                        >
                          A
                        </div>
                        <div
                          rv="VariantSection"
                          class="textsettings-wrapper__btn text-center textsettings-wrapper__btn--active"
                          data-zoom="origin"
                        >
                          A
                        </div>
                        <div
                          rv="VariantSection"
                          class="textsettings-wrapper__btn text-center"
                          data-zoom="in"
                        >
                          A
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- follow us -->
                  <div class="col-lg-3 col-md-5 col-sm-12">
                    <div class="ex-footer-v3__sociallinks">
                      <div class="mb-3">Follow us</div>
                      <ul>
                        <li class="">
                          <div class="">
                            <a
                              href="javascript:void(0);"
                              title="facebook"
                              class=" "
                              target="_blank"
                            >
                              <img
                                rv="Responsive Image"
                                src="../images/fb.svg"
                                alt="facebook"
                              />
                            </a>
                          </div>
                        </li>
                        <li class="">
                          <div class="">
                            <a
                              href="javascript:void(0);"
                              title="twitter"
                              class=" "
                              target="_blank"
                            >
                              <img
                                rv="Responsive Image"
                                src="../images/twitter.svg"
                                alt="twitter"
                              />
                            </a>
                          </div>
                        </li>
                        <li class="">
                          <div class="">
                            <a
                              href="javascript:void(0);"
                              title="instagram"
                              class=" "
                              target="_blank"
                            >
                              <img
                                rv="Responsive Image"
                                src="../images/insta.svg"
                                alt="instagram"
                              />
                            </a>
                          </div>
                        </li>
                        <li class="">
                          <div class="">
                            <a
                              href="javascript:void(0);"
                              title="linkedin"
                              class=" "
                              target="_blank"
                            >
                              <img
                                rv="Responsive Image"
                                src="../images/in.svg"
                                alt="linkedin"
                              />
                            </a>
                          </div>
                        </li>
                        <li class="">
                          <div class="">
                            <a
                              href="javascript:void(0);"
                              title="youtube"
                              class=" "
                              target="_blank"
                            >
                              <img
                                rv="Responsive Image"
                                src="../images/youtube.svg"
                                alt="youtube"
                              />
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- apps -->
                  <div class="col-lg-3 col-md-5 col-sm-12">
                    <div class="ex-footer-v3__apps">
                      <div class="mb-3 mx-lg-2 mx-md-2 mx-sm-0">
                        Download our APP’s
                      </div>
                      <div class="d-flex flex-column flex-lg-row">
                        <div
                          class="position-relative mx-lg-2 mx-md-2 mx-sm-0 pb-3 pb-lg-0"
                        >
                          <img src="../images/appstore.svg" />
                          <a
                            href="javascript:void(0);"
                            target="_blank"
                            class="stretched-link"
                          ></a>
                        </div>
                        <div
                          class="position-relative mx-lg-2 mx-md-2 mx-sm-0 pb-3 pb-lg-0"
                        >
                          <img src="../images/playstore.svg" />
                          <a
                            href="javascript:void(0);"
                            target="_blank"
                            class="stretched-link"
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ex-footer-v3__copyrights d-flex pb-7">
                <div class="w-100">
                  <div class="row flex-row justify-content-start">
                    <!-- logo -->
                    <div class="col-lg-4 col-md-12 col-12">
                      <div
                        class="d-flex justify-content-between pb-md-6 pb-lg-0"
                      >
                        <div class="d-flex flex-column tamm_logos">
                          <div>
                            <div class="d-inline-block position-relative">
                              <img
                                rv="Responsive Image"
                                src="../images/emirates.svg"
                                alt="Emirates Logo Image"
                              />
                              <div class="field-targeturl">
                                <a
                                  data-variantitemid="{EC751D53-CC33-4694-AB92-24F9F4C7B516}"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                  class="text-indent overflow-hidden stretched-link d-block"
                                  href="#"
                                  data-variantfieldname="TargetUrl"
                                  >powered by</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- powered by -->

                        <div class="d-flex flex-column tamm_logos">
                          <div class="text-uppercase mb-3">Powered By</div>
                          <div>
                            <div class="d-inline-block position-relative">
                              <img
                                rv="Responsive Image"
                                src="../images/tamm.svg"
                                alt="Emirates Logo Image"
                              />
                              <div class="field-targeturl">
                                <a
                                  data-variantitemid="{EC751D53-CC33-4694-AB92-24F9F4C7B516}"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                  class="text-indent overflow-hidden stretched-link d-block"
                                  href="#"
                                  data-variantfieldname="TargetUrl"
                                  >powered by</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- contact center -->

                        <div class="d-flex flex-column tamm_logos">
                          <div>
                            <div class="d-inline-block position-relative">
                              <img
                                rv="Responsive Image"
                                src="../images/adcontactcenter.svg"
                                alt="Emirates Logo Image"
                              />
                              <div class="field-targeturl">
                                <a
                                  data-variantitemid="{EC751D53-CC33-4694-AB92-24F9F4C7B516}"
                                  target="_blank"
                                  rel="noopener noreferrer"
                                  class="text-indent overflow-hidden stretched-link d-block"
                                  href="#"
                                  data-variantfieldname="TargetUrl"
                                  >powered by</a
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8 col-md-12 col-sm-12">
                      <div
                        class="mb-4 mt-lg-0 mt-md-0 mt-sm-4 d-flex justify-content-lg-end justify-content-center"
                      >
                        <ul class="d-flex">
                          <li>
                            <a href="javascript:void(0);">Privacy Statement</a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">Terms & Conditions</a>
                          </li>
                        </ul>
                      </div>
                      <div
                        class="caption mt-4 d-lg-flex d-md-none d-sm-none justify-content-lg-end justify-content-center"
                      >
                        © 2018 abudhabi.ae All rights reserved
                      </div>
                    </div>
                  </div>
                  <div class="row d-lg-none d-md-block d-sm-block">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                      <div
                        class="caption d-flex justify-content-center justify-content-lg-end"
                      >
                        © 2018 abudhabi.ae All rights reserved
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Your code goes here -->
        </div>
      </div>
    </div>
    <div class="overlay"></div>
    <!-- ex-main-theme : uncomment needed files -->
    <!-- Lib -->

    <!-- ex-main-theme : uncomment needed files -->

    <!-- Your js files goes here -->
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="../scripts/ext-components-scripts-min.js"></script>
    <script src="../..\\ADCCI-NEW/scripts/components-ADCCI-NEW.js"></script>
    <script src="../scripts/aos.js"></script>
    <!-- Your js files goes here -->
  </body>
</html>
