/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/

$text-color-dark-blue: $black-color !default;
$text-color-sea-green: #008587 !default;
$text-color-white: $white-color !default;
$text-color-mid-blue: $grey-900 !default;
$grey-color3: $grey-50;
$grey-color4: $grey-50;
$orange-color: $primary-color;


$border-color-sea-green: #008587 !default;
$bg-color-sea-green: #008587 !default;
$bg-color-light-grey: $grey-400 !default;

$border-color-light-grey: $grey-400 !default;

$NotoKufiArabic:"NotoKufiArabic" !default;

$mega-menu-pt: 14px !default;
$mega-menu-pb: 14px !default;

$mega-menu-logo-image-max-weight: 106px !default;

$mega-menu-nav-mt: 34px !default;

$mega-menu-nav-list-mr: 40px !default;
$mega-menu-nav-list-ml: 40px !default;
$mega-menu-nav-list-fontsize: 14px !default;
$mega-menu-nav-list-fontweight: 900 !default;

$mega-menu-nav-link-pb: 35px !default;
$mega-menu-nav-link-after-height: 3px !default;

$mega-menu-lang-fontsize: 14px !default;
$mega-menu-lang-link-pl: 24px !default;
$mega-menu-lang-link-pr: 25px !default;
$mega-menu-lang-link-pt: 36px !default;
$mega-menu-lang-link-pb: 34px !default;

$mega-menu-phone-max-width: 16px !default;
$mega-menu-phone-ml: 21px !default;
$mega-menu-phone-link-pl: 30px !default;
$mega-menu-phone-link-pr: 30px !default;
$mega-menu-phone-link-pt: 33px !default;
$mega-menu-phone-link-pb: 31px !default;

$mega-menu-search-icon-i-fontsize: 25px !default;
$mega-menu-search-icon-i-pl: 25px !default;
$mega-menu-search-icon-i-pr: 25px !default;
$mega-menu-search-icon-i-pt: 30px !default;
$mega-menu-search-icon-i-pb: 29px !default;
$mega-menu-search-icon-i-after-width: 1px !default;
$mega-menu-search-icon-i-after-height: 24px !default;
$mega-menu-search-icon-i-after-top: 34px !default;

$mega-menu-sub-menu-border-t: 1px !default;
$mega-menu-sub-menu-top: 84px !default;

$mega-menu-whats-news-bg: $grey-50 !default;
$mega-menu-whats-news-main-heading-fontsize: 20px !default;
$mega-menu-whats-news-heading-fontsize: 16px !default;
$mega-menu-whats-news-heading-fontweight: 900 !default;
$mega-menu-whats-news-heading-lineheight: 22px !default;
$mega-menu-whats-news-text-fontsize: 14px !default;
$mega-menu-whats-news-link-fontsize: 14px !default;
$mega-menu-whats-news-link-fontweight: 900 !default;
$mega-menu-whats-news-img-radious: 10px !default;
$mega-menu-whats-news-img-height: 50px !default;
$mega-menu-whats-news-img-maxwidth: 50px !default;

$mega-menu-search-overlay-padding: 30px !default;
$mega-menu-search-overlay-top: -200% !default;
$mega-menu-search-overlay-top-append: 0 !default;
$mega-menu-search-overlay-width: 85% !default;
$mega-menu-search-overlay-close-right: 30px !default;
$mega-menu-search-overlay-global-top: 50% !default;
$mega-menu-search-overlay-global-transform: -50% !default;
$mega-menu-search-overlay-search-icon-left: 30px !default;
$mega-menu-search-overlay-search-icon-fontsize: 22px !default;
$mega-menu-search-overlay-input-pl: 45px !default;
$mega-menu-search-overlay-input-pr: 45px !default;
$mega-menu-search-overlay-input-fontsize: 16px !default;

$mega-menu-featured-image-height: 288px !default;
$mega-menu-featured-content-width: 88% !default;
$mega-menu-featured-content-left: 22px !default;
$mega-menu-featured-content-right: 22px !default;
$mega-menu-featured-content-bottom: 26px !default;
$mega-menu-featured-content-heading-fontsize: 20px !default;
$mega-menu-featured-content-heading-weight: 900 !default;
$mega-menu-featured-content-heading-lineheight: 26px !default;
$mega-menu-featured-content-text-fontsize: 14px !default;
$mega-menu-featured-content-text-lineheight: 19px !default;

$sub-menu-list-mb: 30px !default;
$sub-menu-list-link-fontsize: 14px !default;
$sub-menu-list-link-fontweight: 900 !default;
$sub-menu-link-fontsize: 14px !default;
$sub-menu-list-link-news-fontsize: 12px !default;
$sub-menu-list-link-news-radius: 3px !default;
$sub-menu-list-link-news-ml: 8px !default;
$sub-menu-list-link-news-py: 2px !default;
$sub-menu-list-link-news-px: 7px !default;
$sub-menu-transition-time: 0.3s !default;
$sub-menu-accordion-btn-fontsize: 18px !default;
$sub-menu-accordion-btn-mt: 2px !default;




