/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Highlights Variables
Author: TAMM
***************************************************************************************************/


$image-highlights-slide-height : 765px !default;
$image-highlights-v2-slide-height : 348px !default;
$image-highlights-v2-slide-bg-opacity : 0.4 !default;
$image-highlights-top-header-height : 85px !default;
$image-highlights-top-announcement-height : 95px !default;
$image-highlights-v2-top-announcement-height : 95px !default;
$image-highlights-v2-top-header-height : 110px !default;
$image-highlights-slide-bg-color : $grey-900 !default;
$image-highlights-v2-slide-bg-color : $white-color !default;
$image-highlights-slide-title-width : 400px !default;
$image-highlights-slide-title-color: $white-color !default;
$image-highlights-v2-slide-title-color : $grey-900 !default;
$image-highlights-slide-title-fontsize: 50px !default;
$image-highlights-slide-title-lineheight: 60px !default;
$image-highlights-slide-title-weight: bold !default;

$image-highlights-description-fontsize: 20px !default;
$image-highlights-description-lineheight: 26px !default;

$image-highlights-v2-description-fontsize: 16px;
$image-highlights-v2-description-lineheight: 24px !default;

$image-highlights-slide-title-hover-color : $white-color !default;

$image-highlights-navigation-margin-bottom : -80px !default;
$image-highlights-navigation-bottom : 70px !default;
$image-highlights-navigation-height : 40px !default;
$image-highlights-navigation-progressbar-margin : 0 10px !default;
$image-highlights-navigation-progressbar-height : 2px !default;
$image-highlights-navigation-progressbar-radius: 10px !default;
$image-highlights-navigation-progressbar-bg-color: $white-color !default;
$image-highlights-navigation-progressbar-color : $white-color !default;
$image-highlights-navigation-progressbar-track-opacity: 0.2 !default ;
$image-highlights-scrolldown-color : $white-color !default;
$image-highlights-scrolldown-hover-color : $primary-color !default;
$image-highlights-scrolldown-radius: 100% !default;
$image-highlights-scrolldown-width: 6px !default;
$image-highlights-scrolldown-height: 6px !default;
$image-highlights-scrolldown-mouse-width : 25px !default;
$image-highlights-scrolldown-mouse-height : 40px !default;
$image-highlights-scrolldown-mouse-top : -1.5px !default;
$image-highlights-scrolldown-mouse-border-size : 1.5px !default;

$image-highlights-arrows-radius : 50% !default;
$image-highlights-arrows-width: 40px !default;
$image-highlights-arrows-height: 40px !default;
$image-highlights-arrows-bg-color: transparent !default;
$image-highlights-arrows-color: $white-color !default;
$image-highlights-arrows-hover-bg-color : $primary-color !default;
$image-highlights-arrows-hover-color : $black-color !default;
$image-highlights-arrows-border : 1px solid $white-color !default;
$image-highlights-arrows-border-hover : $primary-color !default;
$image-highlights-md-padding:1.5rem !default;
$image-highlights-overlay-opacity:0.4 !default;


$image-highlights-v2-logo-height: 100px !default;