/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/
$img-card-height:100% !default;
$img-card-img-height:380px !default;
$img-card-img-small-height : 250px !default;
$img-card-width:305px !default;
$img-text-cont-width:260px !default;
$img-card-text-cont-height:100px !default;
$img-card-icon-padding:10px !default;
$img-card-read-mor-fs:12px !default;
$img-card-strip-color:$primary-color !default;
$img-card-strip-width:35% !default;
$img-card-strip-height:5px !default;
$img-card-strip-top:-5px !default;
$img-card-icon-color:$grey-600 !default;
$img-card-icon-hover-color : $grey-900 !default;
$img-card-container-after-hover-height:100% !default;
$img-card-container-after-hover-bg:$white-color !default;
$img-card-container-after-hover-top:0% !default;
$img-card-container-after-hover-opacity:1 !default;
$img-card-container-after-hover-aligmnet:0px !default;
$img-card-container-after-hover-width:100% !default;
$img-card-container-after-hover-transition:.3s !default;
$img-card-container-align:13% !default;
$img-card-container-content-align:-13% !default;
$img-card-container-content-bottom:0 !default;
$img-card-container-content-before-left-rtl:auto !default;
$img-card-container-padding: 15px !default;
$img-card-container-margin:0px 15px 15px 15px !default;
$img-card-container-image-icon-padding:0px !default;
$img-card-link-font-size : 11px !default;
$img-text-cont-bg:$white-color!default;
$img-text-cont-bg-opacity : 0.9 !default;
$img-card-container-reset-img-card-title-padding:30px!default;
$img-card-container-add-border-radius:10px!default;
$img-card-container-add-border-radius-after-hover:0px!default;
$img-card-scale:scale(-1) !default;
$img-card-box-shadow:0 0 12px 0 color-opacity($black-color, 0.07) !default;
$img-card-upper-case:uppercase !default;
$img-card-header-height:25px !default;
$img-card-title-color:$grey-900 !default;