
$ex-floatingbutton-arrow-color: $white-color !default; 
$ex-floatingbutton-arrow-bg-color: $primary-color2!default; 
$ex-floatingbutton-icon-bg-color:$primary-color  !default;
$ex-floatingbutton-content-bg-color: $primary-color !default;
$ex-floatingbutton-content-color: $white-color !default;
$ex-floatingbutton-content-padding :  0 15px !default;
$ex-floatingbutton-content-width : 100px !default;

$ex-floatingbutton-wrapper-height :80px !default;
$ex-floatingbutton-arrowwrapper-width:20px !default;
$ex-floatingbutton-iconwrapper-width:80px !default;
$ex-floatingbutton-iconimg-width:44px !default;
$ex-floatingbutton-item-link-font-size : 13px !default;
$ex-floatingbutton-text-line-height:18px !default;
$ex-floatingbutton-radius : 20px !default;


