/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: URLS
Author: TAMM
***************************************************************************************************/

$fontsPath : '../fonts/'!default;
$englishfontPath : '../fonts/roboto/'!default;



