/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


$accordion-bg-color : $grey-50 !default;
$accordion-transition-time : .4s !default;
$accordion-item-border-color-alt : $grey-200 !default;
$accordion-item-icon-font-size : 21px !default;
$accordion-item-bg-alt : $grey-200 !default;
$accordion-item-border-color-alt-hover : transparent !default; 
$accordion-item-border-radius:4px !default;
$accordion-item-bg-alt-hover : $white-color !default;
$accordion-item-border-color : $grey-200 !default;
$accordion-item-border-size : 1px !default;
$accordion-item-min-height : 62px !default;
$accordion-item-strip-color :  $primary-color !default;
$accordion-item-strip-width :0 !default;
$accordion-item-trigger-color : $black-color !default;
$accordion-item-content-color : $primary-color4 !default;
$accordion-item-content-bg: $grey-50 !default;
$accordion-item-content-line-height : 26px !default;
$accordion-item-expanded-bg-color : $white-color !default;
$accordion-item-expanded-border-color : $grey-200 !default;
$accordion-item-expanded-border-radius : 4px 4px 0 0 !default;
$accordion-item-expanded-trigger-color : $primary-color4 !default;
$accordion-item-img-height:50px !default;
$accordion-item-img-width:100px !default;
$accordion-item-header-line-height:1.5 !default;
$accordion-item-header-title-color:$grey-900 !default;
$accordion-item-header-title-font-size : 16px !default;
$accordion-item-header-title-pading : 62px !default;