/***************************************************************************************************
Extension Name: ADCloud 
Extension Version:  
File: base file
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ADCloud 
File: All Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: All Shared Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: Shared Mixins
Owner:  
***************************************************************************************************/
/***************************************************************************************************
File: Variables
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ADCloud 
File: Overrides 
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: ADGE Default Palette
Owner:  
***************************************************************************************************/
/* Primary */
/* Secondary */
/* Inverted */
/* Teritary */
/* highlight */
/* Label */
/* Links */
/* Separators colors */
/* Section title */
/***************************************************************************************************
Extension Name: ADCloud 
File: Variables
Author: TAMM
***************************************************************************************************/
@media only screen and (min-device-width: 0px) and (max-device-width: 280px) {}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1320px;
  }

  .container-medium {
    max-width: 870px;
  }
}

.info_banner h4 {
  margin-bottom: 23px;
  margin-top: 50px;
}

.paragraph,
p {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.ex-image-highlights__slides .slide__content__title .slide-title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 600
}


.ex-image-highlights__navigation {
  position: absolute;
  left: 50%;
  transform: translateX(0%) translateY(-50%);
  width: 100%;
  top: 50%;
}


.ex-image-highlights__navigation .arrows .icon {
  position: absolute;
  width: 33px;
  height: 65px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 5px;
  border: none;
}

.ex-image-highlights__navigation .arrows .highlights-prev-arrow {
  left: 0;
}

.ex-image-highlights__navigation .arrows .highlights-next-arrow {
  right: 0;
}

.ex-image-highlights__navigation .arrows .highlights-prev-arrow .hover_image {
  transform: translateX(40%) translateY(0%)
}

.ex-image-highlights__navigation .arrows .highlights-next-arrow .hover_image {
  transform: translateX(-15%) translateY(0%)
}

.ex-image-highlights__slides .slide__content {
  top: 30%;
}

.ex-image-highlights .button--secondary {
  border-color: #fff;
  color: #fff;

}

.ex-image-highlights .button--secondary:hover {
  border-color: #004E5B;
}

.ex-image-highlights .button--secondary a {
  color: #fff;
}

.button:hover,
.button>.component-content:hover,
a.button:hover,
a.button>.component-content:hover {
  background: #fff;
  color: #1a1a1a;
  border-color: #fff;
}

.button:hover,
.button:hover [class*=" icon-"],
.button:hover a,
.button:hover input,
.button>.component-content:hover,
.button>.component-content:hover [class*=" icon-"],
.button>.component-content:hover a,
.button>.component-content:hover input,
a.button:hover,
a.button:hover [class*=" icon-"],
a.button:hover a,
a.button:hover input,
a.button>.component-content:hover,
a.button>.component-content:hover [class*=" icon-"],
a.button>.component-content:hover a,
a.button>.component-content:hover input {
  color: #1a1a1a;
}

.button--secondary:hover,
.button--secondary>.component-content:hover,
.button>.component-content--secondary:hover,
.button>.component-content--secondary>.component-content:hover,
a.button--secondary:hover,
a.button--secondary>.component-content:hover,
a.button>.component-content--secondary:hover,
a.button>.component-content--secondary>.component-content:hover {
  background: #004E5B;
  color: #fff;
}

.button--secondary:hover,
.button--secondary:hover [class*=" icon-"],
.button--secondary:hover a,
.button--secondary:hover input,
.button--secondary>.component-content:hover,
.button--secondary>.component-content:hover [class*=" icon-"],
.button--secondary>.component-content:hover a,
.button--secondary>.component-content:hover input,
.button>.component-content--secondary:hover,
.button>.component-content--secondary:hover [class*=" icon-"],
.button>.component-content--secondary:hover a,
.button>.component-content--secondary:hover input,
.button>.component-content--secondary>.component-content:hover,
.button>.component-content--secondary>.component-content:hover [class*=" icon-"],
.button>.component-content--secondary>.component-content:hover a,
.button>.component-content--secondary>.component-content:hover input,
a.button--secondary:hover,
a.button--secondary:hover [class*=" icon-"],
a.button--secondary:hover a,
a.button--secondary:hover input,
a.button--secondary>.component-content:hover,
a.button--secondary>.component-content:hover [class*=" icon-"],
a.button--secondary>.component-content:hover a,
a.button--secondary>.component-content:hover input,
a.button>.component-content--secondary:hover,
a.button>.component-content--secondary:hover [class*=" icon-"],
a.button>.component-content--secondary:hover a,
a.button>.component-content--secondary:hover input,
a.button>.component-content--secondary>.component-content:hover,
a.button>.component-content--secondary>.component-content:hover [class*=" icon-"],
a.button>.component-content--secondary>.component-content:hover a,
a.button>.component-content--secondary>.component-content:hover input {
  color: #fff;
}

.hover_image {
  width: 180px;
  height: auto;
  border: solid 1px #fff;
  position: absolute;
}

/* title center  */
.border_HR {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.border_HR h3 {
  background: #fff;
  padding: 0 10px;
  position: relative;
  top: 20px;
}

.new-slider-card {
  border: none;
}

.new-slider-card.ex-icon-card--hover-effect:hover {
  border: none;
  box-shadow: none;
}


.ex-icon-card__wrapper__content .card-title {
  font-size: 20px;
}

.new-slider-card .ex-icon-card__wrapper__content .card-title {
  font-size: 16px;
}

.new-slider-card .ex-icon-card__wrapper__content .card-icon {
  max-width: 96px;
}

.new-slider-card .ex-icon-card__wrapper__content .card-icon img {
  height: 96px;
  transform-style: preserve-3d;
  transition-delay: 0;
  transition: all 0.6s;
}

.new-slider-card .ex-icon-card__wrapper__content .card-icon img:hover {
  transform: rotate(180deg);
  transition-delay: 0;
  transition: all 0.6s;
}

.section--new-slider-card .slick-slide {
  height: auto;
}

.counter {
  font-size: 40px;
}

.counter span {
  font-size: 40px;
  font-family: "poppins", serif;
  font-weight: 600;
}

.counter .icon {
  font-size: 47px;
  margin-left: -20px;
  margin-bottom: 20px;
}

.section--parallax .heading-block p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  padding-bottom: 60px;
  padding-top: 10px;
}

.section--parallax .heading-block h4 {
  width: 62%;
  text-align: left;
}


.three-col-comp .ex-icon-card__wrapper__content .card-description {
  font-size: 18px;
}


.three-col-comp .ex-icon-card__wrapper__content .card-img {
  width: 90px;
}

.three-col-comp .ex-icon-card__wrapper__content .card-img img {
  max-height: 64px;
}

.three-col-comp .ex-icon-card__wrapper {
  max-height: none;
}

.three-col-comp .ex-icon-card {
  background-color: #f5f5f7;
}


.three-col-comp .title-block::after {
  content: "";
  display: block;
  margin-top: 30px;
  width: 40px;
  border-top: 2px solid #212529;
}

.portfolio_wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.portfolio_wrapper .portfolio_item {
  position: relative;
  background: #000;
  float: left;
  portfolio_item-sizing: border-portfolio_item;
  overflow: hidden;
  portfolio_item-shadow: 0 5px 10px rgba(0, 0, 0, .8);
}

.portfolio_wrapper .portfolio_item:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  portfolio_item-sizing: border-portfolio_item;
  transition: 0.5s;
  transform: scaleX(0);
  opacity: 0;
}

.portfolio_wrapper .portfolio_item:hover:before {
  transform: scaleX(1);
  opacity: 1;
}

.portfolio_wrapper .portfolio_item:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  portfolio_item-sizing: border-portfolio_item;
  transition: 0.5s;
  transform: scaleY(0);
  opacity: 0;
}

.portfolio_wrapper .portfolio_item:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.portfolio_wrapper .portfolio_item .imgportfolio_item {
  position: relative;
}

.portfolio_wrapper .portfolio_item .imgportfolio_item img {
  width: 100%;
  transition: 0.5s;
}

.portfolio_wrapper .portfolio_item:hover .imgportfolio_item img {
  opacity: .2;
  transform: scale(1.2);
}

.portfolio_wrapper .portfolio_item .content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  padding: 20px;
  portfolio_item-sizing: border-portfolio_item;
  text-align: center;
}

.portfolio_wrapper .portfolio_item .content h4,
.portfolio_wrapper .portfolio_item .content a {
  margin: 0 0 10px;
  padding: 0;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}

.portfolio_wrapper .portfolio_item .content .desc {
  margin: 0;
  padding: 0;
  color: #fff;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio_wrapper .portfolio_item:hover .content h4,
.portfolio_wrapper .portfolio_item .content a,
.portfolio_wrapper .portfolio_item:hover .content .desc {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.icon_wrapper {
  display: flex;
  flex-direction: row;
}

.icon_wrapper .icon {
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 25px;
  color: #000;
  padding: 8px;
  margin: 5px;
}

.title_wrapper h5 {
  color: #004E5B;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.title_wrapper p {
  color: #1A1A1A;
}

.ex-image-onlycard-wrapper {
  border: solid 2px #EAEAEA;
  margin: 0 15px;
}

.ex-image-onlycard {
  width: 50%;
  height: auto;
  margin: auto;
  padding: 20px 5px;
}

.carousel-wrapper {
  position: relative;
}


.carousel-navigation-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-53%) translateY(-50%);
  width: 100%;
  top: 25%;
  visibility: hidden;
}

.carousel-wrapper:hover .carousel-navigation-wrapper {
  visibility: visible
}

.carousel-navigation-wrapper .carousel-navigation__prev,
.carousel-navigation-wrapper .carousel-navigation__next {
  position: absolute;
  width: 33px;
  height: 65px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 5px;
  border: none;
}

.carousel-navigation-wrapper .carousel-navigation__prev:hover,
.carousel-navigation-wrapper .carousel-navigation__next:hover {
  background-color: #00535e;
}


.carousel-navigation-wrapper .carousel-navigation__prev {
  left: 0;
}

.carousel-navigation-wrapper .carousel-navigation__next {
  right: -70px;
}

.event_listing .card-type-label {
  color: #6c757d;
  font-size: 14.4px;
  font-weight: 500;
  line-height: 21.6px;
}

.event_listing .ex-icon-card__wrapper__content .card-img {
  width: 100%;
  max-width: 250px;
}

.event_listing .ex-icon-card__wrapper__content .card-img img {
  max-height: none;
}

.event_listing .ex-icon-card {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.event_listing .ex-icon-card:hover {
  webkit-transform: translateY(-7px) scale(1.02);
  -ms-transform: translateY(-7px) scale(1.02);
  transform: translateY(-7px) scale(1.02);
}

@media screen and (max-device-width: 767px),
screen and (max-width: 767px) {
  .event_listing .ex-icon-card__wrapper__content .card-img {
    width: 100%;
    max-width: none;
  }
}

.news_section .ex-img-card-v2__container__content:before,
.news_section .ex-img-card-v2__container__content,
.news_section .ex-img-card-v2:hover .ex-img-card-v2__container__content {
  background-color: transparent;
  background: none;
}

.news_section .ex-img-card-v2__container__content {
  height: 150px;
}


.news_section .ex-img-card-v2__container__content .imgcard-link {
  margin-top: 35px;
}

.news_section .ex-img-card-v2__container__content .imgcard-title {
  color: #fff;
}

.news_section .ex-img-card-v2--small:hover .ex-img-card-v2__container__content {
  height: 65%;
}

.news_section .ex-img-card-v2:hover .ex-img-card-v2__container__content .imgcard-link {
  margin-top: 20px;
  padding: 14px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #fff;
}

.news_section .ex-img-card-v2__container {
  position: relative;
}

.news_section .ex-img-card-v2__container:before {
  background: rgba(0, 0, 0, 0.4);
  content: '';
  height: 100%;
  width: 100%;
}

.news_section .ex-img-card-v2:hover .ex-img-card-v2__container__content {
  height: calc(100% - 50%);
}

.news_section .ex-img-card-v2 {
  transition: transform .5s ease;
}

.news_section .ex-img-card-v2__container__content .imgcard-link span {

  color: rgb(165, 42, 42);
}

.news_section .news_badge {
  background: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 50px;
  margin-right: 15px;
  margin-left: -webkit-calc(15px * 2);
  margin-left: calc(15px * 2);
  position: absolute;
  top: -100%;
}

.op-07 {
  opacity: .7;
}

.news_section .news_badge .badge_content {
  color: #D06F1A;
  font-weight: bold;
}

.news_section .ex-img-card-v2:hover .ex-img-card-v2__container {
  backface-visibility: hidden;
  -webkit-animation: breathing 8s ease-out normal;
  animation: breathing 8s ease-out normal;
}

.news_section .ex-img-card-v2:hover .news_badge {
  top: -60%
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  75% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  75% {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
  }

  100% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
}

.ex-header__wrapper {
  background-color: rgba(0, 0, 0, .4);
  border-bottom: 1px solid rgba(0, 0, 0, .4);
}

.ex-header__right-section__upper-navigation-menu li div a {
  color: #fff;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: #fff;
}

.ex-header__left-section__side-menu-nav:hover {
  background-color: rgba(0, 0, 0, 0.5);
}



.ex-header__right-section__icon-wrp:hover,
.ex-header__right-section__icon-wrp:hover a,
.ex-header__right-section__search-icon:hover,
.ex-header__right-section__search-icon:hover a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.ex-header__right-section__lang-switch a,
.ex-header__right-section__icon-wrp,
.ex-header__right-section__search-icon {

  color: #fff;
}

.ex-inner-header {
  padding-top: 30px;
  margin-top: 100px !important;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.ex-inner-header_scrolled {
  background-position: left bottom;
}

.breadcrumb {
  background-color: transparent;
}

.page-breadcrumb-v2 .breadcrumb-item a {
  color: #fff;
}

.ex-inner-header .page-title {
  width: 54%;
}

.ex-inner-header .info-section {
  top: 50px
}

.ex-inner-header .info-section:after {
  background-color: transparent;
}

@media screen and (max-device-width: 768px),
screen and (max-width: 768px) {
  .ex-inner-header .page-title {
    width: 100%;
  }

  .ex-image-highlights__slides .slide__content {
    top: 3%;
  }
}

.translated-ltr .ex-leftnav nav ul li a,
html:not([dir=rtl]) .ex-leftnav nav ul li a {
  border-right: 1px solid #3f3e45;
  border-left: none;
}

.translated-ltr .ex-leftnav nav ul li.active a:after,
html:not([dir=rtl]) .ex-leftnav nav ul li.active a:after {
  right: -1px;
  left: initial;
}

.button--secondary,
.button--secondary>.component-content,
.button>.component-content--secondary,
.button>.component-content--secondary>.component-content,
a.button--secondary,
a.button--secondary>.component-content,
a.button>.component-content--secondary,
a.button>.component-content--secondary>.component-content {
  border-color: #004E5B;
}

.button--secondary,
.button--secondary [class*=" icon-"],
.button--secondary a,
.button--secondary input,
.button--secondary>.component-content,
.button--secondary>.component-content [class*=" icon-"],
.button--secondary>.component-content a,
.button--secondary>.component-content input,
.button>.component-content--secondary,
.button>.component-content--secondary [class*=" icon-"],
.button>.component-content--secondary a,
.button>.component-content--secondary input,
.button>.component-content--secondary>.component-content,
.button>.component-content--secondary>.component-content [class*=" icon-"],
.button>.component-content--secondary>.component-content a,
.button>.component-content--secondary>.component-content input,
a.button--secondary,
a.button--secondary [class*=" icon-"],
a.button--secondary a,
a.button--secondary input,
a.button--secondary>.component-content,
a.button--secondary>.component-content [class*=" icon-"],
a.button--secondary>.component-content a,
a.button--secondary>.component-content input,
a.button>.component-content--secondary,
a.button>.component-content--secondary [class*=" icon-"],
a.button>.component-content--secondary a,
a.button>.component-content--secondary input,
a.button>.component-content--secondary>.component-content,
a.button>.component-content--secondary>.component-content [class*=" icon-"],
a.button>.component-content--secondary>.component-content a,
a.button>.component-content--secondary>.component-content input {
  color: #004E5B;
}

.button--secondary,
.button--secondary>.component-content,
.button>.component-content--secondary,
.button>.component-content--secondary>.component-content,
a.button--secondary,
a.button--secondary>.component-content,
a.button>.component-content--secondary,
a.button>.component-content--secondary>.component-content,
.button,
.button>.component-content,
a.button,
a.button>.component-content {
  border-radius: 0;
}

body {
  overflow-x: hidden;
}

.ex-news-cards {
  border-bottom: solid 1px #004E5B;
  border-radius: 0;
}

.ex-news-cards__img {
  border-radius: 0;
  height: auto;
}

.ex-news-cards:not(.hoverless):hover .ex-news-cards__img img {
  transform: scale(1);
}

.ex-news-cards:not(.hoverless):hover {
  box-shadow: 0 0 0px rgba(178, 178, 181, 0);
}

.icon-report:before {
  content: "\eb9e";
}

.icon-legal:before {
  content: "\eb9f";
}

.icon-certficate:before {
  content: "\eba0";
}

.icon-calendarNew:before {
  content: "\eba1";
}