@media only screen and (min-device-width: 0px) and (max-device-width: 280px) {
  .translated-ltr .sidemenu--active,
  html:not([dir="rtl"]) .sidemenu--active {
    width: 280px;
  }
  .translated-rtl .sidemenu--active,
  html[dir="rtl"] .sidemenu--active {
    right: 0;
    width: 280px;
  }
  .d-smfold-none {
    display: none !important;
  }
  .small-text-smfold {
    font-size: 10px !important;
  }
  div.message-block.message-block--success.ml-10.mt-5 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .flex-smfold-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .col-12.col-multi-card-smfold-padding {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .col-sm-5-smfold {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-2-smfold {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  div.col-lg-10.ml-lg-6.col-sm-smfold-recaptacha {
    padding-left: -10px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h6 {
    font-size: 17px !important;
  }
  .m-0.mx-auto > img {
    width: 50%;
  }
  .smfold-banner {
    margin-bottom: 0px !important;
  }
  .smfold-promo {
    padding-top: 0 !important;
    padding-bottom: 40px !important;
  }
  .container.txsrtg {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .component.search-results.sxa-search-result.sxa-search-result-4.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .ex-image-highlights__slides .slide__content {
    padding: 2.5rem 0;
  }
  .draggable .ex-icon-card__wrapper__content {
    height: 100%;
  }
  div#ui-datepicker-div {
    left: 0px !important;
  }
  .ui-widget.ui-widget-content {
    left: 0px !important;
  }
  .call-to-action,
  .call-to-action__x {
    padding: 20px 5px;
  }
  .call-to-action__button-holder {
    width: 200px !important;
  }
  #myModal .modal-dialog {
    width: 250px;
    height: 520px;
    padding: 0px 30px;
  }
  div#fxb_8ab38577-f97d-4bd0-8685-1b9e84477432_Fields_bb774fe7-6d68-486a-b82e-fdb9b62819f3__CaptchaValue_wrapper {
    overflow-x: auto;
  }
  .d-flex.justify-content-between.flex-wrap.flex-lg-nowrap.d-lg-flex.d-md-none.d-sm-none.d-smfold-none.w-100 {
    display: none !important;
  }
  .ex-sitecore-form span.field-validation-error,
  .ex-sitecore-form span.field-validation-valid {
    font-size: 15px;
  }
  .stretched-link-field a {
    font-size: 12px;
  }
  footer .small-text,
  footer label {
    font-size: 11px;
  }
  .carousel-navigation .slick-slide {
    padding: 10px !important;
  }
  .column ul li, .column-1 ul li, .column-10 ul li, .column-11 ul li, .column-12 ul li, .column-2 ul li, .column-3 ul li, .column-4 ul li, .column-5 ul li, .column-6 ul li, .column-7 ul li, .column-8 ul li, .column-9 ul li, .column-auto ul li, .column-lg ul li, .column-lg-1 ul li, .column-lg-10 ul li, .column-lg-11 ul li, .column-lg-12 ul li, .column-lg-2 ul li, .column-lg-3 ul li, .column-lg-4 ul li, .column-lg-5 ul li, .column-lg-6 ul li, .column-lg-7 ul li, .column-lg-8 ul li, .column-lg-9 ul li, .column-lg-auto ul li, .column-md ul li, .column-md-1 ul li, .column-md-10 ul li, .column-md-11 ul li, .column-md-12 ul li, .column-md-2 ul li, .column-md-3 ul li, .column-md-4 ul li, .column-md-5 ul li, .column-md-6 ul li, .column-md-7 ul li, .column-md-8 ul li, .column-md-9 ul li, .column-md-auto ul li, .column-sm ul li, .column-sm-1 ul li, .column-sm-10 ul li, .column-sm-11 ul li, .column-sm-12 ul li, .column-sm-2 ul li, .column-sm-3 ul li, .column-sm-4 ul li, .column-sm-5 ul li, .column-sm-6 ul li, .column-sm-7 ul li, .column-sm-8 ul li, .column-sm-9 ul li, .column-sm-auto ul li, .column-xl ul li, .column-xl-1 ul li, .column-xl-10 ul li, .column-xl-11 ul li, .column-xl-12 ul li, .column-xl-2 ul li, .column-xl-3 ul li, .column-xl-4 ul li, .column-xl-5 ul li, .column-xl-6 ul li, .column-xl-7 ul li, .column-xl-8 ul li, .column-xl-9 ul li, .column-xl-auto ul li {
    padding-right: 0px;
    padding-left: 0px;
  }
}
