/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


$live-chat-icon-right : 20px !default;
$live-chat-icon-width : 50px !default;
$live-chat-popup-width : 380px !default;
$live-chat-popup-bg : $white-color !default;
$live-chat-close-btn-right: 20px !default;
$live-chat-close-btn-top : 15px !default;
$live-chat-close-btn-color : $white-color !default;
$live-chat-overlay-bg: color-opacity($black-color , 0.3) !default;