/***************************************************************************************************
Extension Name: ex-tabs 
Extension Version:  
File: base file
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-tabs 
File: All Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: All Shared Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: Shared Mixins
Owner:  
***************************************************************************************************/
/***************************************************************************************************
File: Variables
Owner:  
***************************************************************************************************/
/* $font_en : 'Roboto',Arial, sans-serif; */
/***************************************************************************************************
Extension Name: ex-tabs 
File: Overrides 
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: ADGE Default Palette
Owner:  
***************************************************************************************************/
/* Primary */
/* Secondary */
/* Inverted */
/* Teritary */
/* highlight */
/* Label */
/* Links */
/* Separators colors */
/* Section title */
/***************************************************************************************************
Extension Name: ex-tabs 
File: Variables
Author: TAMM
***************************************************************************************************/
.ex-tabs__holder {
  min-height: 45px;
  background: #ffffff;
}

.ex-tabs__holder__btn {
  max-width: 300px;
}

.ex-tabs__holder__btn--active, .ex-tabs__holder__btn:hover {
  color: #004860;
  background-color: #ffffff;
}

.ex-tabs__tab-content {
  display: none;
}

.ex-tabs__tab-content:first-child {
  display: block;
}
