/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/



$newsdetails-shortdesc-font-size : 20px !default;
$newsdetails-caption-font-size:13px !default;
$newsdetails-figcaption-fontsize:12px !default;
$newsdetails-figcaption-title-font-color:$black-color !default;
$newsdetails-figcaption-line-height:2.67 !default;
$newsdetails-date-time-font-size:13px !default;
$newsdetails-date-time-time-border-style: 3px solid !default;
$newsdetails-date-time-time-border-color:$primary-color !default;
$newsdetails-date-time-time-padding:0 15px !default;

$newsdetails-date-time-address-i-font-size:20px !default;
$newsdetails-date-time-address-i-line-height:1 !default;
$newsdetails-date-time-address-i-margin-right:10px !default;
$newsdetails-date-time-address-i-color:$primary-color !default;


$newsdetails-default-fontsize:16px !default;
$newsdetails-default-lineheight:24px !default;
$newsdetails-margin-bottom:29px !default;
$newsdetails-p-caption-line-height:1.46 !default;
$newsdetails-p-caption-color: $primary-color !default;
$newsdetails-h6-margin-bottom:20px !default;

$newsdetails-zero-value:0 !default;

