/***************************************************************************************************
Extension Name: ADCCI-NEW 
Extension Version:  
File: base file
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ADCCI-NEW 
File: All Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: All Shared Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: Shared Mixins
Owner:  
***************************************************************************************************/
/***************************************************************************************************
File: Variables
Owner:  
***************************************************************************************************/
/* $font_en : 'Roboto',Arial, sans-serif; */
/***************************************************************************************************
Extension Name: ADCCI-NEW 
File: Overrides 
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: ADGE Default Palette
Owner:  
***************************************************************************************************/
/* Primary */
/* Secondary */
/* Inverted */
/* Teritary */
/* highlight */
/* Label */
/* Links */
/* Separators colors */
/* Section title */
/***************************************************************************************************
Extension Name: ADCCI-NEW 
File: Variables
Author: TAMM
***************************************************************************************************/
.overlay--active {
  left: 0;
  right: 0;
}

.text-grey {
  color: rgba(0, 0, 0, 0.5);
}

.bg-secondaryNew {
  background: #002a5c;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .bg-secondaryNew {
    background: #002a5c;
    /* margin: 0 -24px;
        padding: 0 24px; */
  }
}

.image_card_wrapper a {
  color: #000;
}

/* news card   */
.section--parallax .twocol-imagewrapper .twocol-imagewrapper__image {
  overflow: hidden;
}

.section--parallax .twocol-imagewrapper .twocol-imagewrapper__image img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.section--parallax .twocol-imagewrapper:hover {
  box-shadow: 0 0 0 0;
}

.section--parallax .twocol-imagewrapper:hover h4 {
  color: #fff;
}

.section--parallax .twocol-imagewrapper:hover .twocol-imagewrapper__image img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.ex-news-cards .ex-news-cards__cont .card-type-tag {
  padding: 8px 16px;
  background: rgba(89, 123, 124, 0.1);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  margin-bottom: 24px;
}

.ex-news-cards .ex-news-cards__cont,
.ex-news-cards .twocol-imagewrapper__image,
.twocol-imagewrapper .ex-news-cards__cont,
.twocol-imagewrapper .twocol-imagewrapper__image {
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.ex-news-cards .ex-news-cards__cont img,
.ex-news-cards .twocol-imagewrapper__image img,
.twocol-imagewrapper .ex-news-cards__cont img,
.twocol-imagewrapper .twocol-imagewrapper__image img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.ex-news-cards .card-tag i,
.twocol-imagewrapper .card-tag i {
  display: inline-block;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  color: #004860;
}

.ex-news-cards:hover h4,
.twocol-imagewrapper:hover h4 {
  color: #004e5b;
}

.ex-news-cards:hover .card-tag > i.icon-arrow-down,
.twocol-imagewrapper:hover .card-tag > i.icon-arrow-down {
  position: relative;
  -webkit-animation: mymove 0.5s infinite;
  animation: mymove 0.5s infinite;
}

html:not([dir="rtl"]) .ex-news-cards:hover .card-tag > i.icon-arrow-next,
.translated-ltr .ex-news-cards:hover .card-tag > i.icon-arrow-next, html:not([dir="rtl"])
.twocol-imagewrapper:hover .card-tag > i.icon-arrow-next,
.translated-ltr
.twocol-imagewrapper:hover .card-tag > i.icon-arrow-next {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

html[dir="rtl"] .ex-news-cards:hover .card-tag > i.icon-arrow-next,
.translated-rtl .ex-news-cards:hover .card-tag > i.icon-arrow-next, html[dir="rtl"]
.twocol-imagewrapper:hover .card-tag > i.icon-arrow-next,
.translated-rtl
.twocol-imagewrapper:hover .card-tag > i.icon-arrow-next {
  -webkit-transform: translateX(-25px) rotate(180deg);
  -ms-transform: translateX(-25px) rotate(180deg);
  transform: translateX(-25px) rotate(180deg);
}

.ex-news-cards:hover .ex-news-cards__img img,
.ex-news-cards:hover .twocol-imagewrapper__image img,
.twocol-imagewrapper:hover .ex-news-cards__img img,
.twocol-imagewrapper:hover .twocol-imagewrapper__image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.newsv3_wrapper a {
  color: #000;
}

@media (min-width: 993px) {
  .newsv3_wrapper .news_leftContent .content_wrapper {
    position: relative;
  }
  .newsv3_wrapper .news_leftContent .button {
    position: absolute;
    bottom: 0;
  }
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .newsv3_wrapper .news_rightContent {
    /*  overflow-x: auto;
            width: 100vw;
            @include ltr {
                margin-left: -20px;
            }
            @include rtl {
                margin-right: -20px;
            }
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            } */
    /*  .ex-news-cards {
                flex: 1 0 100%;
            } */
  }
}

.newsv3_wrapper .news_rightContent .ex-news-cards__img {
  width: 158px;
  height: auto;
}

.news-slider .ex-news-cards {
  min-height: 530px;
}

@-webkit-keyframes boxyshad_v2 {
  0% {
    box-shadow: 0 10px 10px -5px;
  }
  25% {
    box-shadow: 0 8px 4px -5px;
  }
  50% {
    box-shadow: 0 8px 8px -8px;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes boxyshad_v2 {
  0% {
    box-shadow: 0 10px 10px -5px;
  }
  25% {
    box-shadow: 0 8px 4px -5px;
  }
  50% {
    box-shadow: 0 8px 8px -8px;
  }
  100% {
    box-shadow: none;
  }
}

@-webkit-keyframes boxyshad {
  0% {
    box-shadow: 0 10px 10px -5px;
  }
  25% {
    box-shadow: 0 10px 15px -5px;
  }
  50% {
    box-shadow: 5px 5px 10px;
  }
  100% {
    box-shadow: none;
  }
}

@keyframes boxyshad {
  0% {
    box-shadow: 0 10px 10px -5px;
  }
  25% {
    box-shadow: 0 10px 15px -5px;
  }
  50% {
    box-shadow: 5px 5px 10px;
  }
  100% {
    box-shadow: none;
  }
}

@-webkit-keyframes mymove {
  0% {
    top: 0px;
  }
  50% {
    top: -2px;
  }
  100% {
    top: 2px;
  }
}

@keyframes mymove {
  0% {
    top: 0px;
  }
  50% {
    top: -2px;
  }
  100% {
    top: 2px;
  }
}

/* End news card   */
/* events card */
.events_wrapper a {
  color: #000;
}

.events_wrapper .ex-news-cards__card-details {
  padding: 0 24px;
}

.events_wrapper .ex-news-cards__card-details .card-title {
  margin-bottom: 16px;
}

.events_wrapper .ex-news-cards__card-details__card-date {
  margin: 16px 0;
}

.events_wrapper .ex-news-cards__img.event-height1 img {
  width: 100%;
  height: 250px;
}

.events_wrapper .ex-news-cards__img.event-height2 img {
  width: 100%;
  height: 350px;
}

.events_wrapper .ex-news-cards__img.event-height3 img {
  width: 100%;
  height: 200px;
}

.events_wrapper .ex-news-cards__img.event-height4 img {
  width: 100%;
  height: 250px;
}

.events_wrapper .carousel-navigation .slick-slide {
  /*     padding: 0px;
        &:first-child {
            @include ltr {
                padding-left: 10px;
            }
            @include rtl {
                padding-right: 10px;
            }
        } */
}

/* end events card */
@media (min-width: 1200px) {
  /* .ex-image-highlights .slide .container {
        max-width: 1440px;
    } */
  .container.text-container {
    max-width: 870px;
  }
  .container.text-container-withBG {
    max-width: 1095px;
  }
  .ex-inner-header-v3__banner-wrapper__title {
    max-width: 1095px;
  }
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .container .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.ex-image-highlights__navigation .scrolldown a span {
  left: auto;
  right: 60px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-image-highlights__slides .slide__content__title .slide-title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
  }
}

.caption-title {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 22px;
}

.caption-title.white-text {
  color: rgba(255, 255, 255, 0.5);
}

.twocol-imagecontainer .twocol-imagewrapper__image {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .twocol-imagecontainer .twocol-imagewrapper__image {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }
}

.twocol-imagecontainer .twocol-imagewrapper__contentwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 24px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  border-top: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .twocol-imagecontainer .twocol-imagewrapper__contentwrapper {
    border-top: none;
  }
}

.twocol-imagecontainer .twocol-imagewrapper__contentwrapper__content {
  padding: 24px 40px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .twocol-imagecontainer .twocol-imagewrapper__contentwrapper__content {
    padding: 24px 0px;
  }
}

.twocol-imagecontainer .twocol-imagewrapper__contentwrapper__content__card-date {
  padding: 24px 0;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .twocol-imagecontainer .twocol-imagewrapper__contentwrapper__content__card-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .twocol-imagecontainer .twocol-imagewrapper__contentwrapper__content__card-date .seprator {
    display: none;
  }
}

.twocol-imagecontainer .twocol-imagewrapper a {
  color: #000;
}

.twocol-imagecontainer.no-border .twocol-imagewrapper a {
  color: inherit;
}

.twocol-imagecontainer.no-border .twocol-imagewrapper__contentwrapper {
  border: none;
}

.twocol-imagecontainer .slick-slide {
  height: auto;
}

.subsidaries_wrapper .slick-slide {
  height: auto;
}

@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .subsidaries_wrapper .slick-slide {
    height: 55%;
  }
}

.Subsidiaries-slider a {
  color: #000;
}

.Subsidiaries-slider a:hover,
.Subsidiaries-slider a :focus {
  color: #000;
}

@media screen and (min-device-width: 1100px), screen and (min-width: 1100px) {
  .Subsidiaries-slider .image__item__card {
    min-height: 330px;
    max-height: 330px;
  }
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .Subsidiaries-slider .image__item__card {
    min-height: 340px;
    max-height: 340px;
  }
}

.Subsidiaries-slider .image__item__card-img {
  /*  min-height: 90px; */
  max-height: 64px;
}

.Subsidiaries-slider .image__item__card-img {
  max-height: 250px;
}

.Subsidiaries-slider .image__item__card-img img {
  /*  min-height: 90px; */
  max-height: 64px;
}

.image__item__card-title {
  min-height: 80px;
}

html:not([dir="rtl"]) .image__item__card,
.translated-ltr .image__item__card {
  margin-right: 23px;
}

html[dir="rtl"] .image__item__card,
.translated-rtl .image__item__card {
  margin-left: 23px;
}

html:not([dir="rtl"]) .image__item__card:last-child,
.translated-ltr .image__item__card:last-child {
  margin-right: 0;
}

html[dir="rtl"] .image__item__card:last-child,
.translated-rtl .image__item__card:last-child {
  margin-left: 0;
}

.image__item__card-img {
  margin-bottom: 15px;
}

.image__item__card a {
  color: #000;
}

.image__item__card .image__item__card-tag {
  margin-top: 34px;
}

.image__item__card .image__item__card-tag span {
  padding: 8px 16px;
  background: rgba(89, 123, 124, 0.1);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ourmission_section .col-12 {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .carousel-navigation .slick-slide {
    height: auto;
    /*   width: 305px !important; */
  }
}

.head_wrapper {
  background: -webkit-radial-gradient(100.12% 60.9% at 80.01% 0%, rgba(89, 123, 124, 0.4) 0%, rgba(89, 123, 124, 0) 51.5%);
  background: radial-gradient(100.12% 60.9% at 80.01% 0%, rgba(89, 123, 124, 0.4) 0%, rgba(89, 123, 124, 0) 51.5%);
}

.tb-padding24 {
  padding: 24px 0;
}

.twotopbottom_image-wrapper,
.our-history__image-wrapper {
  min-height: 648px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .twotopbottom_image-wrapper,
  .our-history__image-wrapper {
    min-height: auto;
  }
}

.sign-font {
  font-family: "SquarePeg";
}

.button--invert--white,
.button > .component-content--invert--white,
a.button--invert--white,
a.button > .component-content--invert--white {
  color: #fff;
  border-color: #fff;
  background: transparent;
  border: solid 1px;
}

.button--invert--white:hover, .button--invert--white:focus,
.button > .component-content--invert--white:hover,
.button > .component-content--invert--white:focus,
a.button--invert--white:hover,
a.button--invert--white:focus,
a.button > .component-content--invert--white:hover,
a.button > .component-content--invert--white:focus {
  color: #fff;
  border-color: #fff;
  background: transparent;
}

.button--invert--white:hover a,
.button--invert--white:hover [class*=" icon-"], .button--invert--white:focus a,
.button--invert--white:focus [class*=" icon-"],
.button > .component-content--invert--white:hover a,
.button > .component-content--invert--white:hover [class*=" icon-"],
.button > .component-content--invert--white:focus a,
.button > .component-content--invert--white:focus [class*=" icon-"],
a.button--invert--white:hover a,
a.button--invert--white:hover [class*=" icon-"],
a.button--invert--white:focus a,
a.button--invert--white:focus [class*=" icon-"],
a.button > .component-content--invert--white:hover a,
a.button > .component-content--invert--white:hover [class*=" icon-"],
a.button > .component-content--invert--white:focus a,
a.button > .component-content--invert--white:focus [class*=" icon-"] {
  color: #fff;
}

section.addmargin {
  margin-top: 220px;
}

.ex-media-cards__img {
  position: relative;
}

.ex-media-cards-item__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
  font-size: 50px;
  cursor: pointer;
  opacity: 0.7;
  z-index: 1;
}

.upcomingactivites {
  padding: 80px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .upcomingactivites .twocol-imagewrapper__image {
    -webkit-transform: translate(0%, 0px) !important;
    -ms-transform: translate(0%, 0px) !important;
    transform: translate(0%, 0px) !important;
  }
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .upcomingactivites {
    padding: 80px 0px;
    position: relative;
  }
  .upcomingactivites .twocol-imagewrapper__image {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    -webkit-transform: translate(10%, 0px);
    -ms-transform: translate(10%, 0px);
    transform: translate(10%, 0px);
  }
  .upcomingactivites .twocol-imagewrapper__contentwrapper {
    margin-top: 70%;
  }
  .upcomingactivites .twocol-imagewrapper__contentwrapper .twocol-imagewrapper__contentwrapper__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

.our_leadership .leader_detail {
  box-shadow: 0px 0px 0px 0px;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}

.our_leadership .leader_detail:hover img {
  box-shadow: 0 12px 8px -8px;
}

.our_leadership .leader_detail img {
  width: 150px;
  height: auto;
  border: solid 1px #d9d9d9;
  border-radius: 4px;
}

/* .our_leadership {
    @media screen and (max-device-width:922px), screen and (max-width:922px) {
        border-top: 1px solid #597b7c;
        hr:first-child {
            display: none;
        }
    }
} */
@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .section--parallax {
    text-align: center;
  }
}

.carousel-navigation__next,
.carousel-navigation__prev {
  margin: 0 16px;
}

@media screen and (min-device-width: 1200px), screen and (min-width: 1200px) {
  .carousel-navigation__next,
  .carousel-navigation__prev {
    width: 80px;
    height: 80px;
    margin: 0 20px;
  }
}

.ex-tabs__holder {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 80px;
  margin-top: 20px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-tabs__holder {
    overflow-x: auto;
  }
  .ex-tabs__holder::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

.ex-tabs__holder__btn {
  font-size: 14px;
  line-height: 24px;
  outline: 0;
  display: block;
  white-space: normal;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.47px;
  white-space: nowrap;
  color: #000;
  padding: 20px 12px;
  cursor: pointer;
}

html:not([dir="rtl"]) .ex-tabs__holder__btn:first-child,
.translated-ltr .ex-tabs__holder__btn:first-child {
  padding-left: 0;
}

html[dir="rtl"] .ex-tabs__holder__btn:first-child,
.translated-rtl .ex-tabs__holder__btn:first-child {
  padding-right: 0;
}

html:not([dir="rtl"]) .ex-tabs__holder__btn:last-child,
.translated-ltr .ex-tabs__holder__btn:last-child {
  padding-right: 0;
}

html[dir="rtl"] .ex-tabs__holder__btn:last-child,
.translated-rtl .ex-tabs__holder__btn:last-child {
  padding-left: 0;
}

.ex-tabs__holder__btn--active {
  font-weight: 700;
}

/* 
.ex-tab--fixedtop {
    position: fixed;
    top: -40px;
    background: #fff;
    padding: 40px 0 0;
    z-index: 999;
    margin: 40px 0px 80px 0px;
    width: 100%;
    @include ltr {
        left: 0;
    }
    @include rtl {
        right: 0;
    }
    .ex-tabs-wrapper {
        transform: translate(14%, -20%);
    }
}
.ex-tab--margintop {
    margin-top: 26%;
}
 */
.carousel-navigation.pillar-section .slick-slide {
  padding-left: 0;
  padding-right: 0;
}

.ex-img-card-v3 .imagecardv3_wrapper .item-wrapper .content_description {
  bottom: 0;
}

/* header color hotfix */
/* .innerPage {
    .ex-headerv2__wrapper .ex-headerv2__wrapper__level1 .ex-headerv2__right-section__upper-menu li a,
    .ex-headerv2__wrapper .ex-headerv2__wrapper__level2 .ex-headerv2__right-section__upper-navigation-menu li a,
    .ex-headerv2__wrapper
        .ex-headerv2__wrapper__level2
        .ex-headerv2__right-section
        .ex-headerv2__right-section__icon-wrp
        a {
        color: #000;
    }
    .ex-headerv2__wrapper .ex-headerv2__wrapper__level1 .ex-headerv2__right-section__upper-menu {
        border-bottom: 1px solid #939393;
    }
    .ex-headerv2__wrapper
        .ex-headerv2__wrapper__level2
        .ex-headerv2__right-section
        .ex-headerv2__right-section__icon-wrp {
        color: #000;
        background: rgba(0, 0, 0, 0.1);
    }
    .ex-headerv2__wrapper .ex-headerv2__wrapper__level2 .ex-headerv2__right-section .navTrigger svg {
        stroke: #000000;
    }
} */
@media (min-width: 992px) {
  .our-Economic-Insights .image_card_wrapper .col-lg-3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  html:not([dir="rtl"]) .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(1),
  .translated-ltr .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(1), html:not([dir="rtl"]) .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(5),
  .translated-ltr .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(5) {
    padding-left: 0 !important;
  }
  html[dir="rtl"] .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(1),
  .translated-rtl .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(1), html[dir="rtl"] .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(5),
  .translated-rtl .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(5) {
    padding-right: 0 !important;
  }
  html:not([dir="rtl"]) .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(4),
  .translated-ltr .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(4), html:not([dir="rtl"]) .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(8),
  .translated-ltr .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(8) {
    padding-right: 0 !important;
  }
  html[dir="rtl"] .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(4),
  .translated-rtl .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(4), html[dir="rtl"] .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(8),
  .translated-rtl .our-Economic-Insights .image_card_wrapper .col-lg-3:nth-of-type(8) {
    padding-left: 0 !important;
  }
}

/* .ex-headerv2 .search-box .component-content .search-box-input {
    border: solid 1px #dee5e5;
    background: #fff !important;
} */
.button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.button i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  border: solid 2px;
}

html:not([dir="rtl"]) .button:hover i,
.translated-ltr .button:hover i {
  margin-left: 25px !important;
}

html[dir="rtl"] .button:hover i,
.translated-rtl .button:hover i {
  margin-right: 25px !important;
}

.section--parallax.parallax_overylay .text-container {
  z-index: 2;
}

.section--parallax.parallax_overylay:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 42, 92, 0.8);
  z-index: 1;
}

.ex-footer-v3 a:not(.stretched-link)::after {
  background: transparent;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-footer__termscondition__poweredby__seperator {
    margin: 0;
  }
}

.investment_opportunities .twocol-imagecontainer .twocol-imagewrapper__image {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.ex-headerv2__wrapper .ex-headerv2__wrapper__level1 .ex-headerv2__right-section__upper-menu li a {
  font-size: 14px;
}

.news_listing_result ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.news_listing_result ul li {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  padding: 0 10px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .news_listing_result ul li {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .news_listing_result ul li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
}

.contact .map_wrapper {
  width: 100%;
  height: 500px;
  background: #d9d9d9;
  position: relative;
}

.contact .overlap_accordion {
  background: #fff;
  width: 35%;
  padding: 24px;
  height: 100%;
  position: absolute;
  right: 0;
  overflow-y: auto;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .contact .overlap_accordion {
    position: static;
    width: 100%;
  }
}

/* .ex-map__container .searching-box {
    @include ltr {
        right: 130px;
        left: auto;
    }
    @include rtl {
        left: 130px;
        right: auto;
    }
}
 */
.ex-master-card__details a {
  color: #000;
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-underline:hover {
  text-decoration: underline !important;
}

.ex-headerv2 .search-box {
  height: 50%;
}

.ex-headerv2 .search-box--active {
  width: -webkit-calc(85% - 90px) !important;
  width: calc(85% - 90px) !important;
}

.ex-img-card-v3 .imagecardv3_wrapper .item-wrapper .content_description {
  min-height: 310px;
}

.ex-img-card-v3 .imagecardv3_wrapper .item-wrapper .content_description a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 35vh;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-img-card-v3 .imagecardv3_wrapper .item-wrapper .content_description a {
    height: auto;
  }
}

.ex-img-card-v3 .imagecardv3_wrapper .item-wrapper .content_description.active {
  min-height: auto;
}

.ex-img-card-v3 .imagecardv3_wrapper .item-wrapper .content_description.active a {
  height: auto;
}

.ex-sxa-load-more .component-content .icon {
  display: none;
}

.ex-footer-v3 a:hover {
  color: #fff !important;
}

html:not([dir="rtl"]) .ex-headerv2__wrapper .ex-headerv2__wrapper__level1 .ex-headerv2__right-section__upper-menu li .language-switcher a,
.translated-ltr .ex-headerv2__wrapper .ex-headerv2__wrapper__level1 .ex-headerv2__right-section__upper-menu li .language-switcher a {
  font-family: NotoKufiArabic, Arial, sans-serif;
}

/* carousel-navigation for arabic */
/* html[dir="rtl"] .carousel-navigation,
.translated-rtl .carousel-navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}
 */
/* html[dir="rtl"] .carousel-navigation .slick-arrow,
.translated-rtl .carousel-navigation .slick-arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
} */
.investment_opportunities .search-results li {
  margin-bottom: 0;
}

.investment_opportunities .search-results li .ex-master-card {
  border-bottom: 0;
}

.investment_opportunities .search-results li:last-child .ex-master-card {
  border-bottom: 2px solid #d6d6d6;
}

.text-body,
.ex-map__container .searching-box__results .search-item .accordion-content a,
.event_list_innerpage .ex-news-cards a {
  color: #000;
}

.ex-floating-action-button {
  display: none;
}

.small-text {
  font-size: 12px;
  line-height: 18px;
  text-transform: none;
}

.menuActiive {
  position: fixed !important;
}

.ex-headerv2__wrapper
.ex-headerv2__wrapper__level2
.ex-headerv2__right-section__upper-navigation-menu
li
.mobile_level1
li
img,
.ex-headerv2__wrapper
.ex-headerv2__wrapper__level2
.ex-headerv2__right-section__upper-navigation-menu
li
.mobile_level1
li
a {
  display: inline;
}

@media (max-width: 768px) {
  /* Adjust breakpoint as needed */
  .ex-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
  }
  .ex-nav::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .ex-nav li.active {
    margin: 0 auto;
    /* Center the active item horizontally */
  }
  .wrap-text-unlength,
  .wrap-text-unlength a {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    display: block;
  }
  .ex-headerv2 .search-box {
    height: 100%;
  }
}

.ex-headerv2.innerpage.position-absolute + .ex-inner-header-v3 .ex-inner-header-v3__banner-wrapper {
  padding-top: 340px;
}

.ex-media-library__container__desc {
  min-height: 35%;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-media-library__container__desc {
    min-height: 28%;
  }
}
