/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/



$service-card-start-bg-color :$grey-100 !default;
$service-card-start-border-color :$grey-200 !default;
$service-card-start-font-color : $grey-900 !default;
$service-card-start-text-color : $grey-900 !default;
$service-card-properties-title-font-color : $grey-900 !default;
$service-card-start-content-title-color : $grey-900 !default;
$service-card-start-button-bg-color : $primary-color !default;
$service-card-start-button-hover-bg-color : $primary-color4 !default;
$service-card-start-button-color : $grey-900 !default;
$service-card-start-order-color : $grey-900 !default;
$service-card-start-order-bg-color : $grey-100 !default;
$service-card-start-table-title-bg-color : $grey-100 !default;