/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/

$chairman-msg-padding : 60px !default;
$chairman-msg-text-transform : none !default;
$chairman-msg-border-color : $grey-200 !default;
$chairman-msg-border-size : 1px !default;
$chairman-msg-field-title-color: $grey-900 !default;
$chairman-msg-field-subtitle-color: $grey-900 !default;
