/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


$formcalculation-table-header-color : $white-color !default ;
$formcalculation-table-header-bg : $grey-600  !default ;
$formcalculation-table-head-bg : $grey-100  !default ;
$formcalculation-table-active-bg : $grey-200  !default ;
$formcalculation-table-active-fw: bold !default;
$formcalculation-button-bg : $primary-color !default ;
$formcalculation-button-color : $primary-color4 !default ;
$formcalculation-button-fs : 16px !default ;
$formcalculation-table-lh: 30px !default ;
$formcalculation-buttons-border-width : 2px !default;