/***************************************************************************************************
Extension Name: #{$ProjectName}
Extension Version: #{$ProjectVersion} 
File: Animated Icons
Owner: #{$ProjectOwner} 
Version: 1.0.0
***************************************************************************************************/

// vars
@import '../vars/_all';


// hamburger menus icon 
@import './plugins/icons/hamburger-icon/index.scss';