/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Overrides 
Author: TAMM
***************************************************************************************************/

$image-highlights-arrows-hover-color: #fff;
$image-highlights-slide-height:650px;
$main-spacing-bottom:-10px;
$icon-card-description-color: #3F3E45 !default;
$ex-sitecore-form-dropdown-arrow-position-top:40px;
$ex-sitecore-form-dropdown-arrow-position-right:25px;
$sxa-filter-margin-bottom-md:0px;
$newsdetails-p-caption-color: #3F3E45 !default;
$layout-carousel-arrow-font-hover-color: #fff;