/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


$loader-fade-backgroun-color: $white-color !default;
$loader-oneditor-backgroun-color : $grey-600 !default;
$loader-first-loader-color: color-opacity($black-color,0.8) !default;