/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/
$news-card-bg:$white-color  !default;
$news-card-padding:20px !default;
$news-card-border-radius:4px !default;
$news-card-img-border-radius: 0.25rem 0.25rem 0px 0px!default;
$news-card-date-color:$grey-800  !default;
$news-card-date-padding:15px !default;
$news-card-date-icon-padding:10px !default;
// $news-card-header-size:20px  !default;
// $news-card-header-weight:900 !default;
// $news-card-header-line-height:1.63 !default;
$news-card-tag-strip-color:$primary-color !default;
$news-card-tag:$black-color !default;
$news-card-tag-padding-top:20px !default;
$news-card-tag-letter-spacing:0.92px !default;
$news-card-tag-before-width: 3px !default;
$news-card-tag-before-height: 17px !default;
$news-card-tag-before-mrgin-left-right:10px !default;
$news-card-tag-before-top:5px !default;
$news-card-tag-second-span-padding:11px !default;
$news-card-box-shadow-color:$grey-500 !default;
$news-card-border:$grey-300 !default;
$news-card-text-color:$grey-900 !default;
$news-card-text-line-height:1.57 !default;
$news-card-text-icon-padding:5px !default;
$news-card-pin-color:$grey-700 !default;
$news-card-title:$grey-900 !default;
$news-card-label-bg:$secondary-color !default;
$news-card-label-absolute-top:10px !default;
$news-card-label-absolute-right:25px !default;
$news-card-label-border:1px solid transparent !default;
$news-card-label-color:$white-color !default;
$news-card-label-padding:3px 13px 3px 13px !default;
$news-card-res-margin:1.5rem !default;
$news-card-img-container-height:180px !default;
$news-card-img-container-img-document-card:176px !default;
$news-card-img-container-img--large-document-card : 240px !default;
// $news-card-img-container-img-height:100% !default;
$news-card-small-font-size:12px !default;
$news-card-small-line-height:14px !default;
$news-card-listing-height : 235px  !default;
$news-card-listing-columns-align-bottom-height:auto  !default;
$news-card-listing-bg-color: $white-color  !default;
$news-card-listing-no-results-color:$grey-900  !default;
$news-card-listing-no-results-fs:28px  !default;
$news-card-listing-no-results-fw:900  !default;
$news-card-listing-no-results-lh:28px  !default;
$news-card-listing-rounded-img:0.25rem 0.25rem 0px 0px!default;
$news-card-listing-date-min-height:25px !default;
$news-card-listing-tag-min-height:40px  !default;
$news-card-trade-label-color:#295270 !default;
$news-card-event-label-color: $grey-700 !default;
$news-card-news-label-color : $grey-500 !default;
$news-card-label-img-border:1px solid $grey-300 !default;
$news-card-label-img-borderless:1px solid transparent !default;
$news-card-document-image-border-color: $primary-color !default; 
$news-card-document-image-border-width: 1px !default;
$news-card-document-image-card-height: 162px !default;
$news-card-document-image-card-height-small:100px !default;
$news-card-document-card-image-download-link-a:18px !default;
$news-card-document-card-image-download-link-a-span:20px !default;
$news-card-document-download-link-color : $primary-color !default;
$news-card-document-card-hover:40px !default;
$news-card-document-card-box-shadow:0px 10px 0px 0px !default;
$news-card-document-card-box-border-width:1px !default;
$news-card-entities-bg-color:transparent !default;
$news-card-entities-img-height:230px !default;
$news-card-entities-details-min-height:auto !default;
$news-card-entities-details-color: $black-color !default;
$news-card-entities-details-font-size:14px !default;
$news-card-entities-title-text-transform:none !default;
$news-card-entities-title-font-weight:500 !default;

$news-card-overlay-bg-color:#3F51B5 !default;
$news-card-overlay-height:255px !default;
$news-card-overlay-bg-gradient:linear-gradient(360deg,color-opacity($grey-300, 0.5) 0%, color-opacity($grey-300, 0.5) 100%)!default;
$news-card-overlay-extend-height:285px !default;
$news-card-overlay-details-img-height:32px !default;
$news-card-overlay-details-title-size:24px !default;
$news-card-overlay-details-title-line-height:30px !default;
$news-card-overlay-details-link-icon-size:24px !default;
$news-card-overlay-details-link-icon-transition:0.5s !default;
$news-card-overlay-bg-size:cover !default;
$news-card-overlay-bg-position:center !default;