/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/
$new-member-img-width:200px !default;
$new-member-img-height:200px!default;
$new-member-title-color:#17626C!default;
$new-member-title-max-width:65%!default;
$new-member-sub-title-fz:12px!default;
$new-member-subtitle-color:$grey-800!default;