/***************************************************************************************************
Extension Name: ex-banner 
Extension Version:  
File: base file
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-banner 
File: All Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: All Shared Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: Shared Mixins
Owner:  
***************************************************************************************************/
/***************************************************************************************************
File: Variables
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-banner 
File: Overrides 
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: ADGE Default Palette
Owner:  
***************************************************************************************************/
/* Primary */
/* Secondary */
/* Inverted */
/* Teritary */
/* highlight */
/* Label */
/* Links */
/* Separators colors */
/* Section title */
/***************************************************************************************************
Extension Name: ex-banner 
File: Variables
Author: TAMM
***************************************************************************************************/
.ex-banner--switch .ex-banner__content .row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-banner--switch .ex-banner__content .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.ex-banner--switch .ex-banner__content .row .data {
  padding-left: 0px;
  padding-right: 24px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-banner--switch .ex-banner__content .row .data {
    padding-left: 0px;
    padding-right: 0px;
  }
}

html[lang*='ar'] .ex-banner--switch .ex-banner__content .row .data,
html[class*='translated-rtl'] .ex-banner--switch .ex-banner__content .row .data {
  padding-right: 0px;
  padding-left: 24px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  html[lang*='ar'] .ex-banner--switch .ex-banner__content .row .data,
  html[class*='translated-rtl'] .ex-banner--switch .ex-banner__content .row .data {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.ex-banner__content .img-wraper {
  height: 100%;
}

.ex-banner__content .img-wraper .img-wraper__img {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.ex-banner__content .img-wraper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ex-banner__content .data {
  padding-left: 24px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-banner__content .data {
    padding-left: 0px;
    padding-right: 0px;
  }
}

html[lang*='ar'] .ex-banner__content .data,
html[class*='translated-rtl'] .ex-banner__content .data {
  padding-left: 0px;
  padding-right: 24px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  html[lang*='ar'] .ex-banner__content .data,
  html[class*='translated-rtl'] .ex-banner__content .data {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.ex-banner__content .data__sub-title {
  color: #89888C;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.ex-banner__content .data__title {
  color: #3F3E45;
  font-size: 36px;
  line-height: 48px;
  font-weight: 900;
}

.ex-banner__content .data__description {
  color: #3F3E45;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
}
