/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


$content-rating-border : 1px solid $grey-300 !default;
$content-rating-color : $grey-600 !default;
$content-rating-font-size : 14px !default;
$content-rating-active-color: $danger-color !default;
$content-rating-success-color : $success-color !default;
$content-rating-error-color : $danger-color !default;
$content-rating-icon-font-size : 28px !default;
$content-rating-title-height: 60px !default;

