/***************************************************************************************************
Extension Name: ex-header 
Extension Version:  
File: base file
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-header 
File: All Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: All Shared Exports
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: Shared Mixins
Owner:  
***************************************************************************************************/
/***************************************************************************************************
File: Variables
Owner:  
***************************************************************************************************/
/***************************************************************************************************
Extension Name: ex-header 
File: Overrides 
Author: TAMM
***************************************************************************************************/
/***************************************************************************************************
File: ADGE Default Palette
Owner:  
***************************************************************************************************/
/* Primary */
/* Secondary */
/* Inverted */
/* Teritary */
/* highlight */
/* Label */
/* Links */
/* Separators colors */
/* Section title */
/***************************************************************************************************
Extension Name: ex-header 
File: Variables
Author: TAMM
***************************************************************************************************/
.ex-header {
  color: #3F3E45;
  z-index: 10001;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.on-page-editor .ex-header {
  position: static !important;
}

.ex-header > div {
  width: 100%;
}

.ex-header__wrapper {
  height: 110px;
  border-bottom: 1px solid #D6D6D6;
  background: #ffffff;
}

.high-contrast body:not(.scrolled) .ex-header__wrapper {
  background: #000;
}

.secondary-highlight .ex-header__wrapper {
  border-bottom: none;
}

.ex-header__wrapper .ex-header__left-section__logo-menu.ex-header__nav-secondary {
  display: none;
}

.scrolled .ex-header {
  color: #3F3E45;
}

.scrolled .ex-header__wrapper {
  background: #ffffff;
  border-bottom: 1px solid #F5F5F7;
  height: 90px;
}

.scrolled .ex-header__wrapper .ex-header__left-section__logo-menu.ex-header__nav-primary {
  display: none !important;
}

.scrolled .ex-header__has-white-logo .skip-contrast {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

.secondary-highlight .ex-header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.secondary-highlight .ex-header > div {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
}

.ex-header.ex-header--centered-logo .ex-header__right-section {
  min-width: 190px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-header.ex-header--centered-logo .ex-header__right-section {
    min-width: auto;
    width: auto;
  }
}

.ex-header.ex-header--centered-logo .ex-header__left-section {
  padding: 0px;
  min-width: 190px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-header.ex-header--centered-logo .ex-header__left-section {
    min-width: auto;
  }
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-header.ex-header--centered-logo .ex-header__center-section {
    max-width: -webkit-calc( 100% - 85px - 85px);
    max-width: calc( 100% - 85px - 85px);
  }
}

.ex-header.ex-header--centered-logo .ex-header__center-section ul {
  list-style: none;
  padding: 16px 0px;
}

.ex-header.ex-header--centered-logo .ex-header__center-section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ex-header.ex-header--centered-logo .ex-header__center-section ul li + li {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #C4C4C4;
}

html[dir='rtl'] .ex-header.ex-header--centered-logo .ex-header__center-section ul li + li, .translated-rtl .ex-header.ex-header--centered-logo .ex-header__center-section ul li + li {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #C4C4C4;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-header.ex-header--centered-logo .ex-header__center-section ul li + li {
    display: none;
  }
}

.ex-header.ex-header--centered-logo .ex-header__center-section ul li a img {
  min-height: 55px;
  max-height: 110px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-header.ex-header--centered-logo .ex-header__center-section ul li a img {
    max-width: 100%;
  }
}

.scrolled .ex-header.ex-header--centered-logo .ex-header__center-section ul li a img {
  min-height: 55px;
}

.ex-header__left-section {
  padding-right: 10px;
  z-index: 90;
}

html[dir='rtl'] .ex-header__left-section, .translated-rtl .ex-header__left-section {
  padding-right: 0;
  padding-left: 10px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-header__left-section {
    width: -webkit-calc(100% - 85px);
    width: calc(100% - 85px);
  }
}

.ex-header__left-section__logo-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrolled .ex-header__left-section__logo-menu {
  height: 100%;
}

.secondary-highlight .ex-header__left-section__logo-menu {
  display: none;
}

.ex-header__left-section__logo-menu li {
  width: auto;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ex-header__left-section__logo-menu li:not(:first-child) {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #C4C4C4;
}

html[dir='rtl'] .ex-header__left-section__logo-menu li:not(:first-child), .translated-rtl .ex-header__left-section__logo-menu li:not(:first-child) {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #C4C4C4;
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-header__left-section__logo-menu li:not(:first-child) {
    display: none;
  }
}

.ex-header__left-section__logo-menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.ex-header__left-section__logo-menu li img {
  min-height: 55px;
  max-height: 90px;
}

.scrolled .ex-header__left-section__logo-menu li img {
  min-height: 55px;
}

.ex-header__left-section__side-menu-nav {
  height: 100%;
  width: 85px;
  font-size: 25px;
  cursor: pointer;
  color: #3F3E45;
  background-color: transparent;
}

html:not([dir='rtl']) .ex-header__left-section__side-menu-nav, .translated-ltr .ex-header__left-section__side-menu-nav {
  margin-right: 20px;
}

html[dir='rtl'] .ex-header__left-section__side-menu-nav, .translated-rtl .ex-header__left-section__side-menu-nav {
  margin-left: 20px;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-header__left-section__side-menu-nav {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.ex-header__left-section__side-menu-nav:hover {
  color: #3F3E45;
  background-color: #F5F5F7;
}

.ex-header__left-section__side-menu-nav .menu-icon--active {
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  top: 35px;
  left: 30px;
}

html[dir='rtl'] .ex-header__left-section__side-menu-nav .menu-icon--active, .translated-rtl .ex-header__left-section__side-menu-nav .menu-icon--active {
  left: auto;
  right: 30px;
}

.ex-header__right-section {
  position: relative;
}

@media screen and (max-device-width: 922px), screen and (max-width: 922px) {
  .ex-header__right-section {
    width: -webkit-calc(100% - 85px);
    width: calc(100% - 85px);
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
  }
  html[dir='rtl'] .ex-header__right-section, .translated-rtl .ex-header__right-section {
    left: 0;
    right: auto;
  }
}

.ex-header__right-section__upper-navigation-menu {
  position: relative;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
}

.ex-header__right-section__upper-navigation-menu li {
  padding: 0 5px;
  height: 100%;
}

.ex-header__right-section__upper-navigation-menu li div {
  height: 100%;
}

.ex-header__right-section__upper-navigation-menu li div a {
  text-decoration: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  color: #3F3E45;
  padding: 0 15px;
}

@media (min-width: 1300px) {
  .ex-header__right-section__upper-navigation-menu li div a {
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .ex-header__right-section__upper-navigation-menu li div a {
    padding: 0 7.5px;
  }
}

.scrolled .ex-header__right-section__upper-navigation-menu li div a {
  color: #3F3E45;
}

.ex-header__right-section__upper-navigation-menu .navigation-marker {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: none;
  border-bottom: 5px solid #0091C7;
  height: 5px;
  -webkit-transition: width 0.2s, left 0.2s;
  transition: width 0.2s, left 0.2s;
}

.ex-header__right-section__lang-switch {
  height: 100%;
  width: 85px;
  font-size: 14px;
}

.ex-header__right-section__lang-switch a {
  color: #3F3E45;
}

.ex-header__right-section__lang-switch a:hover {
  text-decoration: none;
  color: #0091C7;
}

.scrolled .ex-header__right-section__lang-switch a {
  color: #3F3E45;
}

.scrolled .ex-header__right-section__lang-switch a:hover {
  color: #0091C7;
}

.ex-header__right-section__lang-switch [data-language-code] a {
  font-family: "Roboto", Arial, sans-serif;
}

.ex-header__right-section__lang-switch [data-language-code='ar'] a {
  font-family: "NotoKufiArabic", Arial, sans-serif;
}

.ex-header__right-section__lang-switch .language-switcher-wrapper {
  padding: 0 10px;
  text-align: center;
}

.ex-header__right-section__lang-switch--small-screen {
  width: 64px;
  height: 28px;
  border-radius: 2px;
  background-color: #0091C7;
}

.ex-header__right-section__lang-switch--small-screen:hover a {
  color: #3F3E45;
}

.ex-header__right-section__icon-wrp, .ex-header__right-section__search-icon {
  color: #3F3E45;
  height: 100%;
  width: 85px;
  cursor: pointer;
  background-color: transparent;
}

.sidemenu .ex-header__right-section__icon-wrp, .sidemenu .ex-header__right-section__search-icon {
  color: #3F3E45;
}

.scrolled .ex-header__right-section .ex-header__right-section__icon-wrp, .scrolled .ex-header__right-section .ex-header__right-section__search-icon {
  color: #3F3E45;
}

.scrolled .ex-header__right-section .ex-header__right-section__icon-wrp:hover, .scrolled .ex-header__right-section .ex-header__right-section__search-icon:hover {
  color: #3F3E45;
}

.scrolled .ex-header__right-section .ex-header__right-section__icon-wrp:focus, .scrolled .ex-header__right-section .ex-header__right-section__search-icon:focus {
  color: #3F3E45;
}

.ex-header__right-section__icon-wrp--small, .ex-header__right-section__search-icon--small {
  width: 50px;
}

.ex-header__right-section__icon-wrp:hover, .ex-header__right-section__icon-wrp:hover a, .ex-header__right-section__search-icon:hover, .ex-header__right-section__search-icon:hover a {
  background-color: #F5F5F7;
  color: #3F3E45;
}

.ex-header__right-section__icon-wrp:focus, .ex-header__right-section__icon-wrp:focus a, .ex-header__right-section__search-icon:focus, .ex-header__right-section__search-icon:focus a {
  color: #3F3E45;
}

.ex-header__right-section__icon-wrp i, .ex-header__right-section__search-icon i {
  font-size: 25px;
}

.ex-header__right-section__icon-wrp--sep:after, .ex-header__right-section__search-icon--sep:after {
  content: "";
  width: 1px;
  height: 22px;
  background: #D6D6D6;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

html[dir='rtl'] .ex-header__right-section__icon-wrp--sep:after, .translated-rtl .ex-header__right-section__icon-wrp--sep:after, html[dir='rtl'] .ex-header__right-section__search-icon--sep:after, .translated-rtl .ex-header__right-section__search-icon--sep:after {
  right: auto;
  left: 0;
}

.ex-header__right-section__icon-wrp__overlay, .ex-header__right-section__search-icon__overlay {
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
}

.ex-header__right-section__search-dismiss {
  z-index: 101;
  display: none;
  padding: 0px 35px;
  color: #3F3E45;
  cursor: pointer;
}

.ex-header__right-section__search-dismiss i {
  font-size: 25px;
}

.ex-header .settings-wrp {
  display: none;
  width: 280px;
  height: 100%;
  z-index: 1001;
  top: 0;
  right: -280px;
  background-color: #ffffff;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-header .settings-wrp {
    width: 100%;
    right: -100%;
  }
}

html[dir='rtl'] .ex-header .settings-wrp, .translated-rtl .ex-header .settings-wrp {
  right: auto;
  left: -280px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  html[dir='rtl'] .ex-header .settings-wrp, .translated-rtl .ex-header .settings-wrp {
    left: -100%;
  }
}

.ex-header .settings-wrp__close {
  cursor: pointer;
  top: 10px;
  right: 10px;
  font-size: 14px;
  color: #3F3E45;
}

html[dir='rtl'] .ex-header .settings-wrp__close, .translated-rtl .ex-header .settings-wrp__close {
  right: auto;
  left: 10px;
}

.scroll-content .settings-wrp__close {
  top: 6px;
  right: 0px;
}

html[dir='rtl'] .scroll-content .settings-wrp__close, .translated-rtl .scroll-content .settings-wrp__close {
  right: auto;
  left: 0px;
}

.ex-header .settings-wrp__section header {
  color: #3F3E45;
}

.ex-header .settings-wrp__section header i {
  font-size: 24px;
}

.ex-header .settings-wrp__section__block__label {
  color: #89888C;
}

.ex-header .settings-wrp__section__block__wrp {
  border: 2px solid #3F3E45;
}

.ex-header .settings-wrp__section__block__btn {
  height: 28px;
  border-right: 2px solid #3F3E45;
  color: #3F3E45;
}

html[dir='rtl'] .ex-header .settings-wrp__section__block__btn, .translated-rtl .ex-header .settings-wrp__section__block__btn {
  border-right: none;
  border-left: 2px solid #3F3E45;
}

.ex-header .settings-wrp__section__block__btn:last-child {
  border-right: none;
}

html[dir='rtl'] .ex-header .settings-wrp__section__block__btn:last-child, .translated-rtl .ex-header .settings-wrp__section__block__btn:last-child {
  border-left: none;
}

.ex-header .settings-wrp__section__block__btn--active, .ex-header .settings-wrp__section__block__btn--current {
  background: #3F3E45;
  color: #ffffff;
}

.ex-header .settings-wrp__section__disclaimer {
  color: #89888C;
}

.ex-header .search-box {
  position: absolute;
  height: 100%;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  z-index: 100;
  top: 0;
}

.ex-header .search-box--active {
  width: -webkit-calc(100% - 85px) !important;
  width: calc(100% - 85px) !important;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  .ex-header .search-box--active {
    width: -webkit-calc(100% - 85px) !important;
    width: calc(100% - 85px) !important;
  }
}

.ex-header .search-box--active .component-content input.search-box-input {
  padding: 30px;
}

html:not([dir='rtl']) .ex-header .search-box, .translated-ltr .ex-header .search-box {
  right: 85px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  html:not([dir='rtl']) .ex-header .search-box, .translated-ltr .ex-header .search-box {
    right: 85px;
  }
}

html[dir='rtl'] .ex-header .search-box, .translated-rtl .ex-header .search-box {
  left: 85px;
}

@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
  html[dir='rtl'] .ex-header .search-box, .translated-rtl .ex-header .search-box {
    left: 85px;
  }
}

.ex-header .search-box .component-content {
  width: 100%;
  height: 100%;
}

.ex-header .search-box .component-content label {
  display: none;
}

.ex-header .search-box .component-content .twitter-typeahead {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ex-header .search-box .component-content .twitter-typeahead + .search-box-button-with-redirect {
  display: none;
}

.ex-header .search-box .component-content .search-box-input {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: transparent;
  background: #F5F5F7 !important;
  font-weight: 700;
}

html[dir='rtl'] .ex-header .search-box .component-content .search-box-input, .translated-rtl .ex-header .search-box .component-content .search-box-input {
  text-align: right;
}

.ex-header.ex-header__mobile-menu--floating .sidemenu__header {
  background: #fff;
  z-index: 2;
  margin-bottom: 10px;
}

.ex-header.ex-header__mobile-menu--floating .data-scrollbar-nav {
  padding: 0;
  height: -webkit-calc(100vh - 135px);
  height: calc(100vh - 135px);
  top: 10px;
}
