/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/
$ex-publications-card-min-height:350px !default;

$ex-publications-icon-color:$primary-color !default;
$ex-publications-card-background:$grey-600 !default;

$ex-publications-button-height: 30px !default;
$ex-publications-button-font-size: 12px !default;
$ex-publications-button-min-width: 100px !default;
$ex-publications-title-font:16px !default;
$ex-publications-title-lineheight:20px !default;
$ex-publications-card-type-font-size:12px !default;

$ex-publications-button-color:$black-color !default;
$ex-publications-button-border-color:$black-color!default;

