
$inner-header-min-height: 310px !default;
$inner-header-text-color: $white-color !default;
$inner-header-info-section-default-text-color:$white-color !default;
$inner-header-info-section-text-color: $grey-900 !default;
$inner-header-info-section-default-padding : 25px 0 !default;
$inner-header-border-size : 0px !default;
$inner-header-border-color : $primary-color !default;
$inner-header-infosection-bg-start : color-opacity($white-color, 0.8) !default;
$inner-header-infosection-bg-end : color-opacity($white-color, 1) !default;
$inner-header-infosection-precentage-start : -23% !default;
$inner-header-infosection-precentage-end : 88% !default;
$inner-header-big-slogan-font-size : 36px !default; 
$inner-header-big-slogan-line-height : 46px !default; 
$inner-header-aligment-responsive-padding:15px !default;
$inner-header-aligment-responsive-margin:0 !default;
$ex-iner-header-pattern-opacity:30% !default;

$inner-header-breadcrumb-color: $grey-900 !default;
$inner-header-breadcrumb-separator-color: $grey-900 !default;
$inner-header-breadcrumb-background: transparent !default;
$inner-header-breadcrumb-seperator-color : $grey-700 !default;
$inner-header-breadcrumb-font-size : 14px !default;
$inner-header-breadcrumb-item-padding : 0.75rem 0 !default;
$inner-header-breadcrumb-item-padding-responsive : 0.75rem !default;
$inner-header-breadcrumb-seperator-padding-left : 0.5rem !default;
$inner-header-breadcrumb-responsive-margin:-15px !default;
$inner-header-breadcrumb-text-color: $grey-900!default;
$inner-header-breadcrumb-dropdown-background:$white-color !default;
$inner-header-breadcrumb-dropdown-item-color: $grey-900 !default;
$inner-header-breadcrumb-dropdown-item-size: 14px !default;
$inner-header-breadcrumb-dropdown-sm-back-text-decoration: underline !default;

$inner-header-background-color: $white-color !default;
$inner-header-background-y-position : -2px !default;
$inner-header-background-x-position : center !default;
$inner-header-background-size : cover !default;
$inner-header-afterline-color : $white-color  !default;