/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/

$sxa-search-border-color: $grey-400 !default;
$sxa-search-label-color: $black-color !default;
$sxa-search-background-color: $grey-50 !default;
$sxa-search-hover-background-color:$grey-200 !default;
$sxa-search-icon-label-color:transparent !default;
$sxa-search-label-margin-bottom:10px;
$sxa-search-box-btn-height: 41px !default;
$sxa-search-box-btn-width:60px !default;

$sxa-search-box-height: 50px !default;
$sxa-search-box-width:50px !default;
$sxa-search-label-size: 12px !default;
$sxa-search-label-line-height : normal !default;
$sxa-search-label-opacity: 0.56 !default;
$sxa-search-box-broder-radius: 2px !default;
$sxa-search-label-letter-spacing: 1.09px !default;
$sxa-search-border-style:solid 1px;
$sxa-search-box-padding:10px;
$sxa-search-button-before-width:20px;
$sxa-search-button-before-height:20px;
$sxa-search-button-before-font-size:23px;

$sxa-search-suggestionlink-padding: 10px !default;
$sxa-search-suggestionlink-color:  $black-color !default;
$sxa-search-suggestionlink-hover-color : $black-color !default;

$tt-input-color:$black-color  !default;
$sxa-search-box-btn-color:$black-color !default;


