$badges-card-background:$grey-100 !default;
$badges-card-font-color:$grey-900 !default;

$badges-card-background-dark:$grey-900 !default;
$badges-card-font-color-dark:$white-color !default;


$badges-card-border-color:$grey-900 !default;
$badges-card-border-width:2px !default;
$badges-card-border-style:solid !default;

$grey-bg:$grey-900 !default;
$grey-bg-font-color: $white-color !default; 

$link-font-weight:900;

$seprator-card-border-color:$white-color !default;
$seprator-card-border-width:1px !default;
$seprator-card-border-style:dashed !default;
$seprator-background-color:$white-color !default;

$seprator-height: 1px !default;
$seprator-padding: 10px 0 !default;
$seprator-margin : 20px !default;

$seprator-border-radius: 50% !default;
$seprator-tik-width: 10px !default;
$seprator-tik-height: 10px !default;

$seprator-position-horizontally: -14% !default;
$seprator-position-top: -5px !default;