/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/

$sxa-filter-title-size: 12px !default;
$sxa-filter-title-opacity: 0.56 !default;
$sxa-filter-padding-bottom: 10px !default;
$sxa-filter-title-color: $black-color !default;
$sxa-filter-title-letter-spacing: 1.09px !default;
$sxa-filter-title-line-height: normal !default;

$sxa-filter-inout-width: 100% !default;
$sxa-filter-input-height: 50px !default;
$sxa-filter-border-raduis: 2px !default;
$sxa-filter-input-padding: 5px 30px !default;
$sxa-filter-border-color: $grey-400 !default;
$sxa-filter-border-width: 1px !default;
$sxa-filter-bg-color: $grey-50 !default;

$sxa-filter-icon-top-position: 18px !default;
$sxa-filter-icon-left-position: 10px !default;
$sxa-filter-icon-right-position: 10px !default;
$sxa-filter-select-input-bg: $grey-50 !default;
$sxa-filter-select-input-height:50px!default;
$sxa-filter-select-input-border-radius:3px!default;
$sxa-filter-select-input-border:solid 1px $grey-400!default;
$sxa-filter-select-input-width:100%!default;
$sxa-filter-select-input-y-padding:0 !default;
$sxa-filter-select-input-x-padding : 10px !default;
$sxa-filter-select-input-direction:inherit!default;

$sxa-filter-select-input-color:$black-color  !default;

$sxa-filter-margin-bottom-md:20px !default;