
$ex-sxa-search-result-border-top: 1px solid $grey-100 !default;
$ex-sxa-search-result-background-color: $white-color !default;
$ex-sxa-search-result-card-margin: 30px 0 0 0 !default;
$ex-sxa-search-result-card-padding:25px 15px !default;

$ex-sxa-search-result-card-title-color: $grey-900 !default;
$ex-sxa-search-result-card-title-font-size: 24px !default;
$ex-sxa-search-result-card-title-line-height: 28px !default;

$ex-sxa-search-result-card-description-color: $grey-900 !default;
$ex-sxa-search-result-card-description-font-size: 16px !default;
$ex-sxa-search-result-card-description-line-height: 26px !default;

$ex-sxa-search-result-card-date-color: $grey-900 !default;
$ex-sxa-search-result-card-date-font-size: 14px !default;
$ex-sxa-search-result-card-date-font-weight: 400 !default;
$ex-sxa-search-result-card-date-line-height: 14px !default;
$ex-sxa-search-result-card-date-margin-right: 25px !default;
$ex-sxa-search-result-card-date-icon-size: 16px !default;
$ex-sxa-search-result-card-date-icon-color: $grey-900 !default;

$ex-sxa-search-result-card-tag-color: $grey-900 !default;
$ex-sxa-search-result-card-tag-font-size: 14px !default;
$ex-sxa-search-result-card-tag-font-weight: 400 !default;
$ex-sxa-search-result-card-tag-line-height: 14px !default;

$ex-sxa-search-result-card-tag-seprator-width: 2px !default;
$ex-sxa-search-result-card-tag-seprator-height: 18px !default;
$ex-sxa-search-result-card-tag-seprator-color: $grey-900 !default;

