/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/

$sxa-load-more-background: transparent !default;
$sxa-load-more-text-color: #161038 !default;
$sxa-load-more-border: 2px solid #161038 !default;

$sxa-load-more-margin-top: 50px !default;
$sxa-load-more-padding: 20px 15px !default;
$sxa-load-more-padding-y : 15px !default;
$sxa-load-more-padding-x : 15px !default;
$sxa-load-more-padding-extra : 40px !default;
$sxa-load-more-font-size: 16px !default;
$sxa-load-more-font-weight: bold !default;
$sxa-load-more-letter-spacing: 0.23px !default;
$sxa-load-more-width: 204px !default;
$sxa-load-more-height: 50px !default;
$sxa-load-more-border-raduis: 3px !default;

$sxa-loadmore-dropdown-arrow-color:$white-color !default;
$sxa-load-more-icon-font-size : 16px !default;
$sxa-load-more-icon-font-weight : bold !default;