/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/


$tabs-holder-height: 45px !default;
$tabs-holder-bg:  $grey-200 !default;
$tabs-holder-btn-max-width: 300px !default;
$tabs-holder-btn-active-color: $white-color !default;
$tabs-holder-btn-active-bg: $primary-color !default;
