/***************************************************************************************************
Extension Name: #{$ProjectName} 
File: Variables
Author: TAMM
***************************************************************************************************/



$banner-sub-title-color: $grey-700 !default;
$banner-sub-title-fontsize: 16px !default;
$banner-sub-title-lineheight: 19px !default;
$banner-sub-title-weight: 500 !default;

$banner-title-color: $grey-900 !default;
$banner-title-fontsize: 36px !default;
$banner-title-lineheight: 48px !default;
$banner-title-weight: 900 !default;

$banner-description-color: $grey-900 !default;
$banner-description-fontsize: 16px !default;
$banner-description-lineheight: 1.5 !default;
$banner-description-weight: normal !default;

$banner-background-img-size: cover !default;
$banner-background-img-position: center !default;
$banner-background-img-height: 100% !default;

$banner-dark-gold-color: $primary-color !default;

$banner-border-padding-value : 15px !default;
$banner-border-width : 1px !default;